{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Code</td>
    <td class="info">Item Name</td>
    <td class="info">Supplier</td>
    <td class="info">Category</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for item in object_list %}
<tr>
    <td>{{item.pk}}</td>
    <td>{{item.name}}</td>
    <td>{{item.supplier}}</td>
    <td>{{item.category}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'inventory:raw-material-detail'  pk=item.pk  %}">
                    <i class="fas fa-eye"></i> Detail
                </a>
                <a class="dropdown-item" href="{% url 'inventory:raw-material-update'  pk=item.pk  %}">
                    <i class="fas fa-edit"></i> Update
                </a>

            </div>
        </div>
</tr>
{% endfor %} {% endblock %}