{% extends "common_data/page/pdf_page.html" %}

{% block pre_page %}

<div class="jumbotron">
{% if pdf_link %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Actions
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'employees:pay-slip-pdf' pk=object.pk %}">
            <i class="fas fa-file-pdf"></i> Generate PDF
        </a>
            </div>
        </div>
        
    {% endif %}
</div>

{% endblock pre_page %}

{% block page_contents %}
    {% include "employees/payslip/document.html" %}

    
{% endblock page_contents %}