{% extends "window.html" %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'common_data/css/page-css/sheets-of-paper-a4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'common_data/css/document-styles.css' %}"> {% endblock %} {% block content %}


<div class="jumbotron" id="jumbo">
    <h1 class="display-3">Payslip preview</h1>
    <p class="lead">Review Document before verification </p>
    <hr class="my-2">
    <p class="lead">
            <a  class="btn btn-success" href="{% url 'employees:pay-slip-verify-status' pk=object.pk %}"> Verify </a>
        
        
        <a class="btn btn-danger" href="{% url 'employees:pay-slip-delete' pk=object.pk %}" >Delete</a>
    </p>
</div>

<div class="page">
    {% include "employees/payslip/document.html" %}
 </div>
    {% endblock %}