{% extends "invoicing/invoice_templates/common.html" %}

{% block page_contents %}
<table style="height:25%;width:100%;">
        <tbody>
                <tr>
                    <td style="width:60%"><img width="300" height="100" src="/media/{{logo}}" alt="Logo"></td>
                    <td ><h1 >{{title}}</h1></td>
                </tr>
                <tr>
                    <td>
                        <h4>{{business_name}}</h4>
                        <p>{{business_address | linebreaks }}</p>
                    </td>
                    <td>
                        {% block head_table %}{% endblock %}
                    </td>
                </tr>
        </tbody>
    <tr>
        {% block head_cell %}{% endblock %}
    </tr>            
    </table>
    
    <table class="{{style}}-content" style="min-height:500px;width:100%;">
            <thead>
                {% block content_headings %}{% endblock %}
            </thead>
            <tbody class="item-table">
                {% block content_body %}{% endblock %}
            </tbody>
            <tfoot>
                {% block content_footer %}{% endblock %}
            </tfoot>
        </table>
        <div>
                {% block footer_statements %}{% endblock %}
        </div>

{% endblock %}