{% extends "window.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} {% block content %}
<style>
form li {
    list-style-type: none;
}
</style>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{% if icon %} <i class="fas fa-{{icon}}"></i> {% else %} <i class="fas fa-edit"></i> {% endif %} {{title}}</h1>
        <p class="lead">{{description}}</p>
        {% if related_links %}
        <p>Actions</p>
            
            <script>
                function linkClickHandler(link){
                 
                   $('#popup-frame').attr('src', link);
                   var modal = document.getElementById('id-my-modal');
                    modal.style.display = 'block';
                }   
            </script>
            <div class="btn btn-group">
                    {% for item in related_links %}
                        <a class="btn btn-primary text-white"  onclick="linkClickHandler('{{item.url}}')" target="popup">{{item.name}}</a>
                    {% endfor %}    
            </div>
        <p class="lead">
        
        {% endif %}
    </div>
</div>
<input type="hidden" id="box-array" value="{{box_array}}">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% block other %}{% endblock %}
            {{form.errors}}
        </div>
        <div class="col-sm-6">
            <div class="shadow card ">
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-sm">
                            {{form.as_p}}
                        </table>
                        <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

</div>


{% endblock %}