{% extends "base.html" %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/filters.css' %}">
{% endblock %}
{% block window %}
<div style="min-height:400px;">
    <table class="table table-sm  table-striped  table-hover">
        <thead>
            {% block list_headings %}{% endblock %}
        </thead>
        <tbody>
            {% block list_content %}{% endblock %}
        </tbody>
    </table>
</div>
<div>
    {% include 'common_data/pagination.html' %}
</div>


{% endblock %}