{% extends "base.html" %}

{% block window %}

<div class="jumbotron">
    <h1 class="display-3" style="color:red;"><i class="fas fa-times"></i> Error!</h1>
    <p class="lead">A License error is preventing you from continuing</p>
    <hr class="my-2">
    <p>A valid license must be located in the application directory and the application server must be connected to the internet once every 3 days. If you believe that all these conditions have been met and you are still facing challenges, feel free to contact the application vendor.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="" role="button">Contact Vendor</a>
    </p>
</div>

{% endblock window %}