

{% load common_data %}
<ul class="pagination ">
        <li class="page-item">
            <a class="page-link" href="?page=1">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </li>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        {% endif %} 
        {% for i in paginator.page_range %} 
        {% if page_obj.number == i %}
        <li class="page-item active">
            <a class="page-link">{{i}}</a>
        </li>
        {% elif page_obj.number|subtract:i > 5 or i|subtract:page_obj.number > 5 %}
            <li class="page-item" style="display:none;">{{i|subtract:2}}</li> 
        {% else %}
        <li>
            <a class="page-link" href="?page={{i}}">{{i}}</a>
        </li>
        {% endif %} {% endfor %} 
        {% if page_obj.has_next %}
        <li class="page-item next">
            <a class="page-link" href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?page={{paginator.num_pages}}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        </li>
    </ul>