{% extends "window.html" %}
{% load static %}
{% block head_extended %}
<link rel="stylesheet" type="text/css" href="{% static 'common_data/css/page-css/sheets-of-paper-a4.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'common_data/css/document-styles.css' %}" >
{% endblock %}
{% block content %}
<script>
        function printHandler(){
            $("#jumbo").hide();
            $("nav").hide();
            $('footer').hide();
            window.print();
            $("#jumbo").show();
            $("nav").show();
            $('footer').show();

        }
    </script>
    
    
    <div class="jumbotron" id="jumbo">
        <h1 class="display-3"><i class="fas fa-file-alt"></i> Document preview</h1>
        <p class="lead">Review Document before printing </p>
        <p class="lead">
                <button class="btn btn-primary btn-lg" type="button" onclick="printHandler()">Print Document <i class="fas fa-print"></i></button>
            </p>
        <hr class="my-2">
        {% block form_fields %}{% endblock %}
    </div>

<div class="page">
    

       {% block page_contents %}{% endblock %}
    
</div>

<div class="page-break"></div>

{% endblock %}