{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}
<style>
    .full{
        width: 100%;
        min-width:100%
    }
    .side {
        width: 49%;
        height:100vh;
        display:inline-block;
    }
    .login {
        
    }
</style>

<div class="full ">
<div class="side jumbo-gradient"></div>
<div class="side jumbo-gradient">
<div><div class="login shadow">
        <h4>Sign In</h4>
        <form action="">
            <label for="name">Username</label>
            <input type="text" class="form-control">
            <label for="password">Password</label>
            <input type="password" class="form-control">
        </form>
    
    </div></div>
</div>
</div>


{% endblock %}