{% extends "window.html" %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/filters.css' %}">
{% endblock %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <a class="btn btn-primary btn-lg" href="{{new_link}}">Create New</a>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block other%}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            {% if is_paginated %}
            
            {% endif %}

            
        </div>

        <div class="col-sm-9 col-md-9">
                <ul class="pagination pagination-lg">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                        {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                        {% endif %} {% endfor %} {% if page_obj.has_next %}
                        <li class="page-item next">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                        {% endif %}
        
                    </ul>
            <table class="table table-striped table-hover">
                <thead>
                    {% block list_headings %}{% endblock %}
                </thead>
                <tbody>
                    {% block list_content %}{% endblock %}
                </tbody>
            </table>

        </div>
    </div>

</div>

<script>
    //fix in python
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('#id_issue_date').datepicker();
    $('#id_expected_receipt_date').datepicker();
</script>
{% endblock %}