{% extends "window.html" %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/filters.css' %}">
{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"> <i class="fas fa-list"></i> {{title}}</h1>
        <p class="lead">{{description}}</p>
        {% if new_link %}
        <div class="dropdown shrink-invisible">
                <button class="btn btn-primary dropdown-toggle" type="button" id="page-actions" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                            Actions
                        </button>
                <div class="dropdown-menu" aria-labelledby="page-actions">
                    <a class="dropdown-item" href="{{new_link}}">Create New <i class="fas fa-pen"></i></a>
                    
                </div>
            </div>
            {% endif %} 
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block other%}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            {% if is_paginated %}
            
            {% endif %}

            
        </div>

        <div class="col-sm-12 col-md-12">
                {% include 'common_data/pagination.html' %}
            <table class="table table-sm  table-striped  table-hover">
                <thead>
                    {% block list_headings %}{% endblock %}
                </thead>
                <tbody>
                    {% block list_content %}{% endblock %}
                </tbody>
            </table>

        </div>
    </div>

</div>

<script>
    //fix in python
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('#id_date').datepicker({
        changeYear: true,
        dateFormat: 'yy-mm-dd' 
        });
    $('#id_expected_receipt_date').datepicker({
        changeYear: true,
        dateFormat: 'yy-mm-dd' 
        });
</script>
{% endblock %}