{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block window %}

<div class="jumbotron">
    <h1 class="display-3">Welcome to Suave Business Tools</h1>
    <p class="lead">To get started Please configure the application using the following forms</p>
    <hr class="my-2">
    <p>Step {{wizard.steps.step1}} of {{wizard.steps.count}}.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 shadow">
        <form action="" method="POST"  enctype="multipart/form-data">
        
            {{wizard.management_form}}

            {% if wizard.form.forms %}
                {{wizard.form.management_form}}
                {% for form in wizard.form.forms %}
                    {% crispy form %}
                {% endfor %}

            {% else %}

                {% crispy wizard.form %}

            {% endif %}        
        
        </form>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#id_0-logo_aspect_ratio").change(function(evt){
                    console.log('changed')
                    var input_val = evt.target.value
                    var value;
                    switch(input_val){
                        case '0':
                            value = 1.5 * 200;
                            break;
                        case '1':
                            value = 1 * 200;
                            break;
                        case '2':
                            value = 1.33 * 200;
                            break;
                        case '3':
                            value = 1.78 * 200;
                            break
                    }
                    console.log(value)
                    console.log(input_val)
                    $('#id-logo-preview').attr('width', value)

                })


    $(document).ready(function () {
        $.ajax({
            url: "/base/logo-url",
            method:"get"
        }).then(res => {
            $("#id-logo-preview").attr({src: res.url });
        })
        
        $('input[type="file"]').attr({
            'onchange': 'upload_img(this)'
        });
    })

    function upload_img(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#id-logo-preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>
{% endblock %}