{% extends "window.html" %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Create Service Team</h1>
    <p class="lead">Organize a subset of Service people into a Team for certain tasks</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow card">
                <div class="card-body">
                        {% crispy form %}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% render_bundle "services" %}
{% endblock content %}
