{% extends "invoicing/themable_common/base.html" %}


{% block head_table %}
<table >
    <tbody>
        <tr>
            <td>Date:</td>
            <td>{{object.date_issued}}</td>
        </tr>
        <tr>
            <td>Invoice Number:</td>
            <td>{{object.number | stringformat:"06d"}}</td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td>{{object.due_date}}</td>
        </tr>
        <tr>
            <td>Customer PO No:</td>
            <td>{{object.purchase_order_number}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block head_cell %}
<td class="{{style}}-head-cell">
    <p><b>Bill To:</b></p>
    <p>{{object.customer}}</p>
    {% if include_shipping %}
    {{object.customer.business_address | linebreaks}}
    {% endif %}
</td>                              
{% endblock %}                        
{% block content_headings %}
<tr>
    <td style="width:10%;">Qty</td>
    <td  style="width:50%;">Description</td>
    <td style="width:15%;">Unit Price</td>
    {% if include_discount_column %}
    <td>Discount Rate (%)</td>
    {% endif %}
    <td style="width:15%;">Total</td>
</tr>
{% endblock content_headings %}
{% block content_body %}
{% for item in object.invoiceitem_set.all %}
<tr>
    <td >{{item.quantity}}</td>
    <td >{{item.item.item_name}}</td>
    <td >{{item.price}}</td>
    {% if include_discount_column %}
    <td>{{item.discount}}</td>
    {% endif %}
    <td >{{item.subtotal | floatformat:2 }}</td>

</tr>
{% endfor %}
<tr style="height:100%">
    <td ></td>
    <td ></td>
    <td ></td>
    <td ></td>
    {% if include_discount_column %}
    <td ></td>
    {% endif %}
</tr>
{% endblock content_body %} 

{% block content_footer %}
<tr>
    <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}"><b>SubTotal:</b></td>
    <td>{{object.subtotal | floatformat:2 }}</td>
</tr>
{% if tax_column %}
<tr>
    <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}"><b>Taxable Amount:</b></td>
    <td>{{object.subtotal | floatformat:2 }}</td>
</tr>
<tr>
    <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}"><b>Tax Rate:</b></td>
    <td>{{object.tax.rate}}</td>
</tr>
<tr>
    <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}"><b>Tax Due:</b></td>
    <td>{{object.tax_amount | floatformat:2 }}</td>
</tr>

<tr>
    <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}"><b>Total:</b></td>
    <td>{{object.total | floatformat:2 }}</td>
</tr>
{% endif %}
{% endblock content_footer %}
{% block footer_statements %}
<div>
    <p><b>{{object.terms}}</b></p>
    <p><b>{{object.comments | linebreaks}}</b></p>
</div>

{% endblock footer_statements %}            
