db.sqlite3
*.pyc
/assets/node_modules/
/assets/electron/
htmlcov/
env/
media/*.*
media/
wkhtmltopdf/
build/app/*/
build/build/
build/dist/
!build/app/server/
dist/
global_config.json
assets/webpack-stats.json
license.json
build.log
common_data/static/rest_framework/
common_data/static/*.js
common_data/static/admin/
*.gz
.vscode/
*.log
*.spec
build/app/hashed_password.txt
