{% extends "window.html" %}
{% block content %}
{% load render_bundle from webpack_loader %}
<div class="jumbotron">
    <h1 class="display-3">Inventory Check Form</h1>
    <p class="lead">Provide data for the inventory check.</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Inventory Check Form</h4>
                    
                    <form action="" method="POST">
                            {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Items:</h3>
            <div id="inventory-checker">

                
            </div>
        </div>
    </div>
</div>
{% render_bundle "inventory" %}
{% endblock content %}