{% extends "window.html" %}
{% block content %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
<div class="jumbotron">
    <h1 class="display-3">Inventory Check Form</h1>
    <p class="lead">Provide data for the inventory check.</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                        {% crispy form %}
                    <div id="inventory-checker"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle "inventory" %}
{% endblock content %}