{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Inventory Check</h1>
    <p class="lead">Verify Inventory in Each Warehouse.</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        {{warehouse}}
        <div class="col-sm-2">
            <form action="">
                
                {% csrf_token %}
            </form>
        </div>
        <div class="col-sm-8">
            <h3>Items:</h3>
            <div id="inventory-checker">

                
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock content %}