{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Date</td>
    <td class="info">Supervisor</td>
    <td class="info"># of Adjustments</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} 
{% for check in object_list %}
<tr>
    <td>{{check.date}}</td>
    <td>{{check.adjusted_by}}</td>
    <td>{{check.adjustments.count}}</td>
    <td>
        <a class="btn btn-success" href="{% url 'inventory:inventory-check-summary' pk=check.pk %}">
            Details
        </a>
    </td>
</tr>
{% endfor %} {% endblock %}