{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Order #</td>
    <td class="info">Issue Date</td>
    <td class="info">Status</td>
    <td class="info">Supplier</td>
    <td class="info"># of Items</td>
    <td class="info">Total Cost</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for order in object_list %}
<tr>
    <td>{{order.pk}}</td>
    <td>{{order.date}}</td>
    <td>{{order.status}}</td>
    <td>{{order.supplier}}</td>
    <td>{{order.orderitem_set.all.count}}</td>
    <td>{{order.total}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
               
                <a href="{% url 'inventory:order-detail' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-eye"></i> View 
                </a>

                <a class="dropdown-item" href="{% url 'inventory:order-stock-receipt-create' pk=order.pk %}">
                    <i class="fas fa-share-square"></i> Receive order</a>
                
                {% if order.stockreceipt_set.all.count > 0 %}
                <a href="{% url 'inventory:order-stock-receipt-list' pk=order.pk %}" class="dropdown-item">
                        <i class="fas fa-eye"></i> View Goods Receipts List</a>
                {% endif %}
                
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}