#item-table thead td{
    padding: 10px;
    color: white;
    background-color: black;
    border-right: 1px solid white;
}

#item-table tbody{
    border: 1px solid black;
    
}

#item-table{
    min-height: 500px;
    border: 1px solid black;
}

#item-table tbody td{
    border-right: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
}


.simple-content thead td {
    
    padding: 10px;
    border-right: 1px solid white;
    color: white;
    background-color: black;
}

.simple-content tbody td {
    border-right: 1px solid black;
    padding: 10px;
}

.simple-content tbody{
    border: 1px solid black;
}

.simple-content tfoot td {
    text-align: right;
}

.simple-head-cell {
    padding: 10px; 
    
}

.simple-footer-cell {
    border: 0.5mm solid black;
    margin-top: 2mm;

}

.simple-footer-cell-heading{
    color: white;
    background-color: black;
    padding: 2mm;
}

.simple-footer-cell-contents{
    padding: 2mm;
}


