.bg-primary th {
    color:white;
}

.bg-primary td {
    color:white;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    display: block;
}

label > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: inline;
}

input:required {
    background-color: #5ab3e2
}