.page-a5 {
    width: 10.5cm;
    height: 14.8cm;
}

.page-a6 {
    width: 14.8cm;
    height: 21cm
}

.page-a4 {
    width: 21cm;
    height: 29.7cm;
}

.table-print {
    margin: 
}


.bg-primary th {
    color:white;
}

.bg-primary td {
    color:white;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    display: block;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}