.bg-primary th {
    color:white;
}

.bg-primary td {
    color:white;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    display: block;
}

label > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    display: inline;
}

input:required, textarea:required, select:required {
    background-color: #b0e0e6
}


.dash-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashbox {
    margin: 10px;
    padding: 30px;
    width: 300px;
    max-width:300px;
    min-height: 200px;
    display:inline-block;
    text-align:center;
}

.white-on-blue {
    background-color: white;
    border: 1px solid #007bff;
    color: #007bff;
}

.entry-style td{
    padding: 0px;
    border: 0px;
}

.entry-style thead th{
    padding: 0px;
    border: 0px;
}
.entry-style input[type="number"]{
    padding: 2px;
    width: 100%
}
.entry-style select{
    padding: 3px;
}
#product-widget, #service-widget, #expense-widget{
    margin: 0px;
}

#product-widget-text-box, #service-widget-text-box, #expense-widget-text-box {
    padding: 1px;
    background-color: white;
}
.entry-style select{
    width: 100%;
}

.invoice-btn {
    width: 100%;
    padding: 3px;
    background-color: #007bff;
    color: white;
    border: 1px solid white;
}

.shadow {
    border: 1px solid grey;
    padding: 40px ;
    box-shadow: 5px 10px 30px powderblue;
}

nav .nav-link:hover{
    color: white;
    background-color: #007bff;
}

li.active .nav-link{
    color: white;
    background-color: #007bff;
}

.jumbo-gradient{
    background: rgb(176,224,230);
background: linear-gradient(90deg, rgba(176,224,230,1) 0%, rgba(0,123,255,1) 100%, rgba(0,0,0,1) 100%);
}

.jumbo-gradient-reverse{
    background: rgb(0,123,255);
background: linear-gradient(90deg, rgba(0,123,255,1) 0%, rgba(176,224,230,1) 100%);
}

.list-group-item:hover {
    border-left: 3px solid #007bff;
}