{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Name</td>
    <td class="info">Type</td>
    <td class="info">Address</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for customer in object_list %}
<tr>
    <td>{{customer}}</td>
    <td>{% if customer.is_organization %}Organization{% else %} Individual {% endif %}</td>
    <td>{%if customer.address != "" %} {{customer.address}}{% else %} None Saved {% endif %}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a href="{% url 'invoicing:update-customer' pk=customer.pk %}" class="dropdown-item">
                    <i class="fas fa-edit"></i> Update Customer Data
                </a>
                <a href="{% url 'invoicing:customer-details' pk=customer.pk %}" class="dropdown-item">
                    <i class="fas fa-file"></i> Detail
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:delete-customer' pk=customer.pk %}">
                    <i class="fas fa-trash"></i> Delete Customer
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:create-invoice' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Create Invoice
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:create-quotation' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Create Quotation
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:customer-statement-form' pk=customer.pk %}">
                    <i class="fas fa-file-alt"></i> View Customer Account Statement
                </a>
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}