{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Vendor Detail</h1>
    <p class="lead">Information Regarding supplier Products, Contact Information and Accounting Data</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary " href="{% url 'inventory:supplier-update' pk=object.pk %}" role="button">Edit</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h4 class="card-title">Vendor Information</h4>
                        <p class="card-text">Type: {% if object.is_organization %} Organization {% else %} Individual
                            {% endif %} </p>
                        <p class="card-text">Name: {{object}}</p>
                        <h5>Contact Details</h5>
                        <p class="card-text">Email: {{object.email}}</p>
                        <p class="card-text">Address: {{object.address}}</p>
                        <h4 class="card-title">Vendor Account</h4>
                        <p class="card-text">Name: {{object.account}}</p>
                        <p class="card-text">Balance: {{object.account.balance}}</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <nav class="nav nav-tabs nav-stacled">
                            <a href="#invoices" class="nav-link active"
                                    data-toggle="tab">Products</a>
                            <a href="#quotations" class="nav-link" data-toggle="tab">Consumables</a>
                            <a href="#credit-notes" class="nav-link" data-toggle="tab">Equipment</a></li>
                        </nav>
                        <div class="tab-content panel-body">
                            <div id="invoices" class="tab-pane active">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Last Purchase Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in object.products %}
                                        <tr>
                                            <td>{{p.name}}</td>
                                            <td>{{p.unit_purchase_price}}</td>
                                            <td><a href="{% url 'inventory:product-detail' pk=p.pk %}" class="btn btn-primary">Detail</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="quotations" class="tab-pane">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Last Purchase Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in object.consumables %}
                                        <tr>
                                            <td>{{p.name}}</td>
                                            <td>{{p.unit_purchase_price}}</td>
                                            <td><a href="{% url 'inventory:consumable-detail' pk=p.pk %}" class="btn btn-primary">Detail</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="credit-notes" class="tab-pane">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Last Purchase Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in object.equipment %}
                                        <tr>
                                            <td>{{p.name}}</td>
                                            <td>{{p.unit_purchase_price}}</td>
                                            <td><a href="{% url 'inventory:equipment-detail' pk=p.pk %}" class="btn btn-primary">Detail</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
