{% extends "window.html" %} {% block content %}
<style>
    .card th {
        color: white;
    }
</style>
<div class="jumbotron jumbo-gradient">
    <h1 class="display-3"><i class=" fas fa-warehouse" style="color:#07f; font-size:128px;"></i> Warehouse Dashboard</h1>
    <p class="lead">Manage <strong>{{object.name}}</strong></p>
    <hr class="my-2">

</div>
<div class="container">
    <div class="tab-content">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#actions" data-toggle="tab">Actions</a></li>
                <li class="nav-item"><a class="nav-link" href="#dashboard" data-toggle="tab">Dashboard</a></li>
            </ul>
            <div class="tab-content panel-body">
                <div id="actions" class="tab-pane active">
                    <div class="card-deck">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fa fa-arrow-right" aria-hidden="true"></i> <i class="fas fa-warehouse    "></i> Incoming</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:incoming-orders' pk=object.pk %}">Orders</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:incoming-transfer-order-list' pk=object.pk %}">Incoming Transfers</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:incoming-credit-notes-list' pk=object.pk %}">Returns From Customers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fa fa-arrow-left" aria-hidden="true"></i> <i class="fas fa-warehouse    "></i> Outgoing</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:dispatch-debit-note-list' warehouse=object.pk %}">Returns To suppliers</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:outgoing-transfer-order-list' pk=object.pk %}">Outgoing Transfers</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:dispatch-invoice-list' warehouse=object.pk %}">Sales Dispatch</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"> <i class="fas fa-clipboard-check    "></i> Management</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:inventory-check-list' pk=object.pk %}">Inventory Checks</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:scrap-history' pk=object.pk %}">Inventory Scrapping</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:storage-media-list' pk=object.pk %}">Storage Media</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        
                    </div>

                    <hr class="my-4" />

                </div>
                <div id="dashboard" class="tab-pane">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <iframe src="/inventory/warehouse-detail/{{object.pk}}/" frameborder="0" style="width:100%;height:800px;"></iframe>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}