{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">WareHouse Details</h1>
    <p class="lead">Information regarding the ware house building and the inventory stored there.</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'inventory:order-create' %}" role="button">Order new stock</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h4 class="card-title">Warehouse Details</h4>
                    <p class="card-text"><b>Name:</b> {{object.name}}</p>
                    <p class="card-text"><b>Location:</b> <br>
                        {{object.address | linebreaks}} </p>
                    <p class="card-text"># of Items: {{object.all_items.count}} </p>
                </div>
            </div>
            <hr  class="my-4"/>
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h4 class="card-title">Actions</h4>
                    <p class="card-text">
                        <a class="btn btn-info" href="/inventory/create-inventory-check/{{object.pk}}">Check Inventory</a></p>
                    <p class="card-text">
                        <a class="btn btn-info" href="/inventory/scrap-inventory/{{object.pk}}">Scrap Inventory</a></p>
                {% if use_warehousing_model %}
                    
                    <p class="card-text">
                        <a class="btn btn-info" href="/inventory/create-transfer-order/{{object.pk}}">Transfer Inventory</a></p>
                {% endif %}
                {% if use_storage_media_model %}
                    <p class="card-text">
                        <a class="btn btn-info" href="/inventory/storage-media-create/{{object.pk}}">Add Storage Medium</a></p>
                {% endif %}
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <h3>Items</h3>
            <hr class="my-2">
            <iframe frameborder="0" width="700" height="500"  id="journal-frame" src="/inventory/warehouse/{{object.pk}}/item-list">

            </iframe>
        </div>
    </div>
</div>

{% endblock %}