{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">WareHouse Details</h1>
    <p class="lead">Information regarding the ware house building and the inventory stored there.</p>
    <hr class="my-2">
    <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Actions
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="{% url 'inventory:warehouse-create' %}"> <i
                            class="fas fa-plus"></i> Create New Warehouse</a>
            <a class="dropdown-item" href="{% url 'inventory:order-create' %}">
                        <i class="fas fa-edit"></i>Order New Stock
                </a>
                <a class="dropdown-item" href="{% url 'inventory:warehouse-update' pk=object.pk %}">
                        <i class="fas fa-edit"></i>Update
                </a>
                <a class="dropdown-item" href="{% url 'inventory:warehouse-delete' pk=object.pk %}">
                        <i class="fas fa-times"></i>Close
                </a>
                
                <h6 class="dropdown-header">Verify Inventory</h6>
                <a class="dropdown-item" href="{% url 'inventory:create-inventory-check' pk=object.pk %}">
                        <i class="fas fa-clipboard-check"></i>Check Inventory
                </a>
                <a class="dropdown-item" href="{% url 'inventory:inventory-check-list' pk=object.pk %}">
                    <i class="fas fa-list"></i>Review Inventory Checks
            </a>
                
                <h6 class="dropdown-header">Scrap</h6>
                <a class="dropdown-item" href="{% url 'inventory:scrap-inventory' pk=object.pk %}">
                    <i class="fas fa-trash"></i>Scrap Inventory
            </a>
            <a class="dropdown-item" href="{% url 'inventory:scrap-history' pk=object.pk %}">
                <i class="fas fa-trash"></i>View Scrapping History
        </a>
        <h6 class="dropdown-header">Storage Media</h6>
        <a class="dropdown-item" href="{% url 'inventory:storage-media-create' pk=object.pk %}">
                <i class="fas fa-archive"></i>Add Storage Medium
        </a>
        <a class="dropdown-item" href="{% url 'inventory:storage-media-list' pk=object.pk %}">
                <i class="fas fa-archive"></i>Manage Storage Media
        </a>
        <h6 class="dropdown-header">Inventory Transfers</h6>
        <a class="dropdown-item" href="{% url 'inventory:create-transfer-order' pk=object.pk %}">
                <i class="fas fa-truck"></i>Initiate Inventory Transfer
        </a>
        <a class="dropdown-item" href="{% url 'inventory:transfer-order-list' pk=object.pk %}">
                <i class="fas fa-truck"></i>Manage Inventory Transfers
        </a>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
            <div class="card-deck">
                <div class="card shadow col-sm-4" style="max-height:300px;">
                    <div class="card-body">
                        <h4 class="card-title">Warehouse Details</h4>
                        <p class="card-text"><b>Name:</b> {{object.name}}</p>
                        <p class="card-text"><b>Location:</b> <br>
                            {{object.address | linebreaks}} </p>
                        <p class="card-text"># of Items: {{object.all_items.count}} </p>
                    </div>
                </div>
                <div class="card col-sm-8">
                        <h4>Items</h4>
                        <hr class="my-2">
                        <iframe frameborder="0" width="700" height="500" id="journal-frame"
                            src="/inventory/warehouse/{{object.pk}}/item-list">

                        </iframe>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}