{% extends "common_data/list_template.html" %}
{% block list_headings %}

<tr>
    <th>Date</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Number of Items</th>
    <th>Actions</th>
</tr>

{% endblock list_headings %}


{% block list_content %}

    {% for t in object_list %}
        <tr>
            <td>{{t.date}}</td>
            <td>{{t.source_warehouse}}</td>
            <td>{{t.receiving_warehouse}}</td>
            <td>{{t.trasferorderline_set.all.count}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Actions
                            </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="{% url 'inventory:transfer-order-detail' pk=t.pk %}"> 
                           <i class="fas fa-file-alt    "></i> Detail
                        </a>
                    {% if not t.completed and t.receiving_warehouse.pk == warehouse %}
                    <a class="dropdown-item" href="{% url 'inventory:receive-transfer' warehouse=t.receiving_warehouse.pk pk=t.pk %}">
                       <i class="fa fa-check" aria-hidden="true"></i> Complete Transfer
                    </a>
                    {% endif %}        
                    </div>
                </div>
                
            </td>
        </tr>
    {% endfor %}

{% endblock list_content %}