{% extends "common_data/list_template.html" %}
{% block contents %}

{% block list_headings %}
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
</tr>
{% endblock list_headings %}

{% block list_content %}
{% for s in object_list %}
<tr>
    <td>{{s.name}}</td>
    <td>{{s.description}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Actions
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a href="{% url 'services:service-details' pk=s.pk %}" class="dropdown-item"><i class="fas fa-eye"></i>Detail</a>
                <a class="dropdown-item" href="{% url 'services:service-update' pk=s.pk %}"><i class="fas fa-edit"></i>Update</a>
                <a class="dropdown-item" href="#" style="color:grey;" onclick="return false"><i class="fas fa-trash"></i>Remove Service Listing</a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock list_content %}

{% endblock contents %}