{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}

<style>
    div.public-DraftEditor-content{
        min-height: 298px;
        overflow-y: auto;
    }
    #email-to > div {
        border: 1px solid #ccc;
    }
</style>

<div class="jumbotron jumbo-gradient">
    <h1 class="display-3"><i class="fas fa-envelope" style="color: #07f; font-size:128px;"></i> Email Client</h1>
    <p class="lead">Welcome {{request.user.username}}!</p>
    <p class="lead">Suave Business tools provides a focused inbox that integrates with other aspects of the application.</p>
    
</div>

<style>
    .block-link {
        text-decoration: none;
        color: black;
    }

    .selected-folder {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    .unread-message {
        border-left: 3px solid #007bff;
    }

    .selected-message {
        background-color: #007bff;
        color: white;
        
    }
</style>

<div class="container">
    <div class="row">
        <input type="hidden" name="profile" id='id_profile' value="{{profile}}">
        <div class="col-sm-12 shadow" id="inbox-widget">
            
    </div>
</div>

{% render_bundle 'messaging' %}
{% endblock %}