{% extends "invoicing/invoice_templates/create.html" %}
{% load render_bundle from webpack_loader %}

{% block prepage %}
<div class="jumbotron">
    <h1 class="display-3">Invoice</h1>
    <p class="lead">Invoice that combines the features of product sales, services and billables</p>
    <hr class="my-2">
</div>
{% endblock prepage %}

{% block page_contents %}
    {{form.errors}}
    <table class="table">
            <form action="" method="POST">
                {% csrf_token %}
        <tbody>
            <tr>
                <td colspan="2"><center><h1>Invoice</h1></center></td>
            </tr>
            <tr>
                <td valign="top">
                    <p>Customer</p>
                    <p>{{form.customer}}</p>
                    <!--
                    <p>Discount</p>
                    <p>{{form.discount}}</p>
                    -->
                    <p>Tax</p>
                    <p>{{form.tax}}</p>
                    <p>Apply Payment?</p>
                    <p>{{form.apply_payment}}</p>
                    
                </td>
                <td>
                    <p>Date</p>
                    <p>{{form.date}}</p>
                    <p>Due</p>
                    <p>{{form.due}}</p>
                    <p>Sales Representative</p>
                    <p>{{form.salesperson}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="combined-invoice-contents"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="{{style}}-footer-cell">
                        <div class="{{style}}-footer-cell-heading">
                            Terms:
                        </div>
                        <div class="{{style}}-footer-cell-contents">
                            {{form.terms}}
                        </div>
                    </div>
                    <div class="{{style}}-footer-cell">
                        <div class="{{style}}-footer-cell-heading">
                            Comments:
                        </div>
                        <div class="{{style}}-footer-cell-contents">
                            {{form.comments}}
                        </div>
                    </div>
                    <div class="dropdown open">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" >
                                    Submit as...
                                </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="draft">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="quotation">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="invoice">
                            
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        </form>
    </table>

{% render_bundle 'invoicing' %}
{% endblock page_contents %}