<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\common_data\css\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="C:\Users\Conrad\Documents\code\latrom\common_data\static\common_data\assets\css\all.min.css">
</head>
<style>


a {
    text-align: right;
    color: white;
}

h1 {
    font-size: 150px;
}


</style>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>500</h1>
            <h4>Internal Server Error</h4>
            <button class="hello btn btn-primary"> <a href="http://localhost:8000/base/workflow">Go To WorkFlow Page</a></button>
        </div>
    </div>
    <center>
    <i class="fas fa-exclamation-triangle" style="font-size:256px; color:#ffae42;"></i>
    </center>
</body>

</html>