{% load static %}
<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%block title%}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'common_data/css/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'common_data/assets/web-fonts-with-css/css/fontawesome-all.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'common_data/css/invoice.css' %}">
    <script type="text/javascript" src="{% static 'common_data/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/jquery.form.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block window %}
{% endblock %}    
</body>
</html>

