{% load static %}
<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%block title%}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'common_data/css/bootstrap/css/bootstrap.min.css' %}" />
    
    
    <link rel="stylesheet" type="text/css" 
        href="{% static 'common_data/assets/css/all.min.css' %}" />
    
    
    <link rel="stylesheet" type='text/css' href="{% static 'common_data/css/invoice.css' %}">
    <script type="text/javascript" src="{% static 'common_data/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'common_data/js/jquery.form.min.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block window %}
{% endblock %}
<style>
    .my-modal{
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    } 

    .modal-content{
        background-color: "#eee";
        margin: 0px auto;
        padding: 20px;
        width: 80%;
        height: 80%;
    }   

    .frame-style {
        width: 100%;
        height: 100%
    }
</style>
<div class="my-modal" id="id-my-modal">
    <div class="modal-content">
        <iframe class="frame-style" id="popup-frame" src=""></iframe>
    </div>
</div>    
<script>
    var modal = document.getElementById('id-my-modal');
    
    window.onclick = function(evt){
        if(evt.target == modal){
        modal.style.display = 'none';
        }
    }

    function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }

    $(document).ready(function(){
        console.log(inIframe());
     if(inIframe()){
         console.log($("#navbar"));
         $("#navbar").hide();
         $("#footer").hide();
     }   
    })
</script>
</body>
</html>

