<style>
    

    
    .notification-overlay {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(220,220,220,0.3);
    }


    .notification {
        background-color: white;
        margin: 100px auto;
        padding: 20px;
        width: 40%;
        height: 50%;
    }

    .notification h4 {
        font-weight: 250;
    }

</style>



<div>
<!-- The notification overlay -->
    <div class="notification-overlay">
        <div class="notification shadow">
            
            <h4 id="notification-title"> Notification </h4>
            <p  id="notification-timestamp">00:00</p>
            <hr class="my2">
            <pre id="notification-message">Message</pre>
            <div class="btn-group" role="group" style="float:right;">
                <button type="button" id="notification-dismiss" class="btn btn-primary">Dismiss</button>
                <a href='' type="button" id="notification-action" class="btn btn-primary">Take Action</a>
            </div>
        </div>    
    </div>
</div>


<script>

function updateNotifications(){
        $.ajax({
            'method': 'GET',
            'url': '/messaging/api/notifications'
        }).then(function (data){
            if(data.unread > 0){
                $('#notification-title').text(data.latest.title);
                $('#notification-timestamp').text(data.latest.stamp);
                $('#notification-message').text(data.latest.message);
                $('#notification-dismiss').attr({
                    'onclick': "$.get('/messaging/api/notifications/mark-read/" + data.latest.id + "')"
                });
                $('#notification-action').attr({
                    'href': data.latest.action,
                    'onclick': "$.get('/messaging/api/notifications/mark-read/" + data.latest.id + "')"
                });
                 $('.notification-overlay').show(500);

            }
        })
    }

$(document).ready(function(){
    updateNotifications();
    setInterval(updateNotifications, 60000)
     
     
     $('.notification-overlay').click(function(){
         $('.notification-overlay').hide()
     })
})

</script>