{% extends "base.html" %}
{% block head %}
    {% block head_extended %}{% endblock %}
{% endblock %}
{% block window %}

<nav class="navbar navbar-expand-sm bg-light" >
        <ul class="navbar-nav">
            <a class="navbar-brand" href="{% url 'base:workflow' %}">Latrom</a>
            <li class="nav-item active"><a class="nav-link" href="{% url 'invoicing:home' %}">Invoicing</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'inventory:home' %}">Inventory</a></li>
            {% if request.user.is_superuser %}<li><a class="nav-link" href="{% url 'accounting:dashboard' %}">Accounting</a></li>{% endif %}
        </ul>
</nav>
<article>
        {% block content %}{% endblock %}
</article>
<hr class="my-2" />
<footer class="bg-info" style="">
    <ul style="list-style-type:none;">
        <li ><a style="color:white;" href="/logout">Logout</a></li>
        <li><a style="color:white;" href="/login">Login</a></li>
        <li><a style="color:white;" href="#">About</a></li>
        <li style="color:white;">{{request.user.username}} is logged in.</li>
    </ul>
</footer>
<script type="text/javascript">
    $(".ui-date-picker").datepicker();
</script>
{% endblock %}