{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Create New Payroll Tax Object</h1>
    <p class="lead">Name a Tax object as well as provide brackets for each tax scheme</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title">Payroll Tax Details</h4>
                        {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% render_bundle 'employees' %}
{% endblock content %}