{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Complete Work Order </h1>
    <p class="lead">Page for Work Order Resolvers to complete their work orders</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'services:work-order-detail' pk=object.pk %}" role="button">View Details</a>
        <a class="btn btn-primary btn-lg" href="{% url 'services:work-order-update' pk=object.pk %}" role="button">Update</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Work Order Details</h4>
                    <p class="card-text">Date: {{object.date}}</p>
                    <p class="card-text">Time: {{object.time}}</p>
                    <p class="card-text">Status: {{object.status}}</p>
                    <p class="card-text">Description: {{object.description}}</p>
                    <h4>Resolvers</h4>
                    <h6>Team</h6>
                    <p class="card-text">Team Name: {{object.team}}</p>
                    <ul>
                        {% for tm in object.team.members.all %}
                        <li>{{tm}}</li>
                        {% endfor %}
                    </ul>
                    <h6>Service People</h6>
                    <ul>
                        {% for sp in object.service_people.all %}
                        <li>{{sp}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Work Order Completion Form</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr class="my-4">
                        <h4>Work Order Hours</h4>
                        <hr class="my-4">
                        <div id="service-time" ></div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% render_bundle "services" %}

{% endblock content %}