{% extends "common_data/page/pdf_page.html" %}

{% block pre_page %}

<div class="jumbotron">
    <h1 class="display-3">Job Profitability Analysis</h1>
    <p class="lead">This page lists and totals all the costs incurred in executing a work order</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href=" {% url 'services:work-order-costing-pdf' pk=object.pk %} "> <i
                    class="fas fa-file-pdf"></i> Generate PDF</a>
            <a class="dropdown-item" href="{% url 'services:work-order-expense-create' pk=object.pk %}"
                role="button">Record Expense</a>

        </div>
    </div>
</div>
<style>
#scrollable-div {
    max-height:25.7cm;
    overflow-y: auto;
}
</style>
{% endblock pre_page %}

{% block page_contents %}
{% load accounting %}

<style>
    .roomy {
        padding: 5px;
    }
</style>


<div id="scrollable-div">
<div >
    <table class="table table-sm">
        <tr>
            <th>Invoice #</th>
            <td>{{object.works_request.invoice.invoice_number |stringformat:"06d"}}</td>
        </tr>
        <tr>
            <th>Date Invoiced</th>
            <td>{{object.works_request.invoice.date}}</td>
        </tr>
        <tr>
            <th>Date Completed</th>
            <td>{{object.completed}}</td>
        </tr>
        <tr>
            <th>Job ID</th>
            <td>{{object.pk |stringformat:"06d"}}</td>
        </tr>
    </table>
</div>

<div>
    {% autoescape off %}
    {{graph}}
    {% endautoescape %}
</div>
<p class="eop"></p>

<h4 class="text-white roomy bg-primary">Revenue: <span
        style="float:right;">{{object.works_request.invoice_line.subtotal | active_currency}}</span>
</h4>
<div style="margin-left:2rem;">
    <h5 class="text-white roomy bg-primary">Direct Labour expenses*</h5>
    <p style="font-size: 0.6rem;"><b>*NB</b> Direct labour costs are only recorded for employees on
        wages whose payment depends on
        the
        number of hours worked.</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Employee</th>
                <th>Normal Time</th>
                <th>Overtime</th>
                <th>Labour</th>
            </tr>
        </thead>
        <tbody>
            {% for log in object.time_logs %}
            <tr>
                <td>{{log.date}}</td>
                <td>{{log.employee}}</td>
                <td>{{log.normal_time}}</td>
                <td>{{log.overtime}}</td>
                <td>{{log.total_cost}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <td>{{total_labour_cost}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="margin-left:2rem;">
    <h5 class="bg-primary text-white roomy">Cost of revenue expenses</h5>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Expense ID</th>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in object.workorderexpense_set.all %}
            <tr>
                <td>{{expense.expense.id}}</td>
                <td>{{expense.expense.date}}</td>
                <td>{{expense.expense.category_string}}</td>
                <td>{{expense.expense.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total</th>
                <td>{{total_expense_costs}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="margin-left:2rem;">
    <h5 class="bg-primary text-white roomy">Consumables Costs</h5>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Requisition ID</th>
                <th>Date</th>
                <th>Consumable</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for con in object.consumables_used %}
            <tr>
                <td>{{con.requisition.id | stringformat:"06d"}}</td>
                <td>{{con.requisition.date}}</td>
                <td>{{con.consumable.name}}</td>
                <td>{{con.quantity}}</td>
                <td>{{con.line_value}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <td>{{total_consumables_costs}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<h4 class="text-white roomy bg-primary">Total Expenses: <span
        style="float:right;">{{total_costs|active_currency}}</span></h4>

<h4 class="text-white roomy bg-primary">Gross Profit: <span
        style="float:right;">{{object.works_request.invoice_line.service.gross_income | active_currency}}</span>
</h4>

</div>




{% endblock  %}