{% extends "window.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Work Order Details </h1>
    <p class="lead">Information regarding work orders</p>
    <hr class="my-2">
    <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'services:work-order-update' pk=object.pk %}">
                    <i class="fas fa-edit"></i> Update
                </a>

                {% if wo.procedure_pk %}
                <a class="dropdown-item" href="{% url 'services:procedure-details' pk=object.procedure_pk %}">
                    <i class="fas fa-list-ul"></i> View Procedure
                </a>
                
                {% endif %}
                {% if wo.status != 'authorized' %}
                <a class="dropdown-item" href="{% url 'services:work-order-complete' pk=object.pk %}">
                    <i class="fas fa-check"></i> Update Progress
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-equipment-requisition-create' pk=object.pk %}">
                    <i class="fas fa-file-invoice"></i> Request Equipment
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-consumable-requisition-create' pk=object.pk %}">
                    <i class="fas fa-file-invoice"></i> Request Consumables
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-expense-create' pk=object.pk %}">
                    <i class="fas fa-dollar-sign"></i> Record Work Related Expense
                </a>
                <a class="dropdown-item" href="{% url 'services:work-order-costing' pk=object.pk %}">
                    <i class="fas fa-receipt"></i> Costing
                </a>
                {% endif %}
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <nav class="nav nav-tabs nav-stacked">
                <a href="#work" class="nav-link active" data-toggle="tab">Work Order Details</a>
                <a href="#procedure" class="nav-link" data-toggle="tab">Service Procedure</a>
                <a href="#expenses" class="nav-link" data-toggle="tab">Expenses</a>
                <a href="#service" class="nav-link" data-toggle="tab">Service Time</a>
            </nav>

            <div class="tab-content panel-body shadow">
                <div class="tab-pane active" id="work">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Date: {{object.date}}</p>
                            <p class="card-text">Time: {{object.time}}</p>
                            <p class="card-text">Invoice: {{object.works_request.invoice.invoice_number | stringformat:"06d"}}</p>
                            <p class="card-text">Status: {{object.status}}</p>
                            <p class="card-text">Description: {{object.description}}</p>
                            <h4>Resolvers</h4>
                            <h6>Team</h6>
                            <p class="card-text">Team Name: {{object.team}}</p>
                            <ul>
                                {% for tm in object.team.members.all %}
                                <li>{{tm}}</li>
                                {% endfor %}
                            </ul>
                            <h6>Service People</h6>
                            <ul>
                                {% for sp in object.service_people.all %}
                                <li>{{sp}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="procedure">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-text">Description:
                                {{object.works_request.service.procedure.description}}
                            </h6>
                            <hr class="my-2">
                            <h6>Stages</h6>
                            <hr class="my-2">
                            <ol>
                                {% for step in object.works_request.service.procedure.steps %}
                                <li>{{step}}</li>
                                {% endfor %}
                            </ol>
                            <hr class="my-4">
                            <h6 class="card-title">Notes</h6>
                            <hr class="my-4">
                            <ul>
                                {% for note in object.notes.all %}
                                <li>{{note}}</li>
                                {% endfor  %}
                            </ul>

                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="expenses">
                    <table class="table table-sm">
                        <thead>
                            <tr class="bg-primary">
                                <th>Expense ID</th>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object.expenses.all.count == 0 %}
                            <tr>
                                <td colspan="3"><b>No data to display</b></td>
                            </tr>
                            {% else %}
                            {% for exp in object.expenses %}
                            <tr>
                                <td><a class="btn btn-primary"
                                        href="{% url 'accounting:expense-detail' pk=exp.expense.pk %}">{{exp.expense.pk}}</a>
                                </td>
                                <td>{{exp.expense.category_string}}</td>
                                <td>{{exp.expense.amount}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="service">
                    <table class="table table-sm">
                        <thead>
                            <tr class="bg-primary">
                                <th>Employee</th>
                                <th>Normal Time</th>
                                <th>Overtime</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object.time_logs.all.count == 0 %}
                            <tr>
                                <td colspan="3"><b>No Data To Be Displayed</b></td>
                            </tr>
                            {% else %}
                            {% for time in object.time_logs %}
                            <tr>
                                <td>{{time.employee}}</td>
                                <td>{{time.normal_time}}</td>
                                <td>{{time.overtime}}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {% if  object.status != 'authorized' %}
            <h5>Authorization Form</h5>
            <form action="{% url 'services:work-order-authorize' pk=object.pk %}" method="POST">
                {% csrf_token %}
                {{authorization_form}}
                <button class="btn btn-primary">Authorize</button>
            </form>
            {% else  %}
            {% if object.status == 'authorized' %}
                <h6>Authorized By:</h6>
                <h5>{{object.authorized_by}}</h5>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}