<table style="height:25%;width:100%;">
        <tbody>
            <tr>
                <td style="width:60%"><img width="300" height="100" src="/media/{{logo}}" alt="Logo"></td>
                <td ><h1 >{{title}}</h1></td>
            </tr>
            <tr>
                <td>
                    <h4>{{business_name}}</h4>
                    <p>{{business_address | linebreaks }}</p>
                </td>
                <td>
                    
                </td>
            </tr>
    </tbody>         
</table>