<tfoot>
    {% if object.tax %}
    <tr>
        <td colspan="{% if include_units_in_sales_invoice %}4{% else %}3{% endif %}">
            <b>SubTotal:</b>
        </td>
        <td>{{object.subtotal | floatformat:2 }}</td>
    </tr>
    <tr>
        <td colspan="{% if include_units_in_sales_invoice %}4{% else %}3{% endif %}">
            <b>Tax Due @{{object.tax.rate}}%:</b>
        </td>
        <td>{{object.tax_amount | floatformat:2 }}</td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="{% if include_units_in_sales_invoice %}4{% else %}3{% endif %}">
            <b>Total:</b>
        </td>
        <td>{{object.total | floatformat:2 }}</td>
    </tr>
</tfoot>