{% extends "common_data/list_template.html" %}
{% load accounting %}
{% block list_headings %}
<tr class="bbg-info">
    <td>Name</td>
    <td>Balance</td>
    <td>Type</td>
    <td>Actions</td>
</tr>
{% endblock %}
{% block list_content %}
{% for item in object_list %}
<tr>
    <td>{{item.pk}}-{{item.name}}</td>
    <td>{{item.balance | accounting}}</td>
    <td>{{item.type}}</td>
    <td><a class="btn btn-success" href="{% url 'accounting:account-detail' pk=item.pk %}" >View</a></td>
</tr>
{% endfor %}
{% endblock %}