{% extends "window.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} {% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Add New Asset </h1>
        <hr class="my-2">
        <p>Adds a depreciable asset to the accounting system that
            is automatically tracked and recorded in the system.
        </p>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="card ">
                <div class="card-body">
                    {% crispy form %}
                    </form>
                </div>

            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>

</div>




{% endblock %}