{% extends "window.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">Accounting Configuration</h1>
    <p class="lead">List of settings for Accounts</p>
    <hr class="my-2">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title">Options</h4>
                    <form method="POST" action="">
                            {% csrf_token %} {{form.as_p}}
                        <button class="btn btn-primary">Submit</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


{% endblock content %}