{% extends "window.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Currency Converter</h1>
    <p class="lead">Register Currencies with the package as well as adjust the exchange rate</p>
    <hr class="my-2">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12" >
            {% csrf_token %}
            <style>
                h4 {
                    font-weight: 200;
                }
            </style>
            <div id="currency-converter"></div>
        </div>
    </div>
</div>
{% render_bundle 'accounting' %}
{% endblock content %}

