{% extends 'window.html' %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Accounting</h1>
        <p>Manage accounts, generate reports, and initiate Journal Entries</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" href="{% url 'accounting:create-entry' %}">Create New Journal Entry</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Journal</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:create-journal' %}">Create Journal</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:create-entry' %}">Manual Journal entry</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:compound-entry' %}">Compound Journal entry</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:journal-list' %}">View Journals</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Expenses</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:direct-payment' %}">Create Direct Payment</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:direct-payment-list' %}">List Direct Payments</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:expense-create' %}">Record Expense</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:expense-list' %}">List Expenses</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Sales</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:non-invoiced-cash-sale' %}">Make Non Invoiced Cash Sale</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'invoicing:create-invoice' %}">Create Invoice</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url  'invoicing:create-payment' %}">Apply Payment</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <hr />

            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Reports</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:balance-sheet' %}">Balance Sheet</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:income-statement-form' %}">Income Statement</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Accounts</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:account-list' %}">View Chart of Accounts</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:journal-list' %}">Reconcile Accounts</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:transfer' %}">Transfer Between Accounts</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:asset-create' %}">Add Asset</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'accounting:asset-list' %}">View List of assets</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Configuration</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'accounting:config' pk=1 %}">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% endblock %}