{% extends 'window.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}

<div class="jumbotron">
        <h1 class="display-3">Create Direct Purchase </h1>
        <p class="lead">Purchase is not linked to any order but creates transactions on the accounting system</p>
        <hr class="my-2">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                    {{form.as_table}}
                                    <hr />
                                <button class="btn btn-default">Create</button>
                            </form>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-8">
                <div id="direct-purchase-table">
                    
                </div>
            </div>
        </div>
    </div>

{% render_bundle 'invoicing' %}
{% endblock content %}