{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">List of Direct Payments</h1>
    <p class="lead">Transactions are all stored in the direct payment journal</p>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'accounting:direct-payment' %}" role="button">Create New</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <table class="table table-sm table-striped" style="max-height: 400px;overflow-y:auto;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Paid To</th>
                    <th>Paid From</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for t in entries %}
                {% if t.primary_credit %}
                <tr>
                    <td>{{t.date}}</td>
                    <td>{{t.primary_credit}}</td>
                    <td>{{t.primary_debit}}</td>
                    <td>{{t.memo}}</td>
                    <td>
                        <a href="{% url 'accounting:entry-detail' pk=t.pk %}" class="btn btn-success">Details</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}