{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block window %}


<div class="jumbotron">
<h1 class="display-3">Welcome To The Accounting Module</h1>
<p class="lead">To Proceed Please Fill In These Forms</p>
<hr class="my-2">
<p>Step {{wizard.steps.step1}} of {{wizard.steps.count}}.</p>
<style>
    .li-focused {
        font-weight: bold;
        font-size: 16px;
    }
</style>
<ul>
    <li class="{% if wizard.steps.current == '0' %}li-focused{% endif%}" >Configure the Accounts Settings</li>
    {% if '1' in wizard.steps.all %}
    <li class="{% if wizard.steps.current == '1' %}li-focused{% endif%}" >Add Employee</li>
    {% endif %}
    {% if '2' in wizard.steps.all %}
    <li class="{% if wizard.steps.current == '2' %}li-focused{% endif%}">Create Your Bookkepper</li>
    {% endif %}
    <li class="{% if wizard.steps.current == '3' %}li-focused{% endif%}">Create Your Sales Taxes</li>
</ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 shadow">
        <form action="" method="POST">
        {{wizard.management_form}}

        {% if wizard.forms.forms %}
            {{wizard.form.management_form}}
            {% for form in wizard.form.forms %}
                {% crispy form %}
                {% endfor %}

            {% else %}
            {{form.errors}}

                {% crispy wizard.form %}

            {% endif %}
        </form>
        </div>
    </div>
</div>

{% render_bundle "widgets" %}

<script>
            function dynamicFormRenderer(){
                var input = $("#id_id_vendor_type_0_1") //individual 
                if(input[0].checked){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
                
            }
            $(document).ready(dynamicFormRenderer);
            $("input[name='vendor_type']").on('change', function(evt){
                var value = evt.target.value;
                if(value === "individual"){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
            })
    </script>
<script src='{% static "common_data/js/suave.js" %}'></script>

{% endblock window %}