{% extends "invoicing/invoice_templates/common.html" %} 

{% block page_contents %}
<table id="page-layout">
    <tbody>
        <tr>
            <td colspan="2">
                <h1>{{title}}</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% include "common_data/common/business_information.html" %}
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Customer:</b></p>
                <p>{{object.invoice.customer}}</p>
                {% if include_shipping %}
                {{object.invoice.customer.business_address | linebreaks}}
                {% endif %}  
            </td>
            <td>
                <table >
                    <tbody>
                        <tr>
                            <td>Date:</td>
                            <td>{{object.date}}</td>
                        </tr>
                        <tr>
                                <td>Credit Note ID:</td>
                                <td>{{object.pk | stringformat:"06d"}}</td>
                            </tr>
                        <tr>
                            <td>Invoice Number:</td>
                            <td>{{object.invoice.id | stringformat:"06d"}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <thead>
                        <tr>
                            <td style="width:60%">Description</td>
                            <td>Quantity</td>
                            <td>Unit Price</td>
                            <td>Subtotal</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in object.returned_products %}
                            <tr>
                                <td>{{item.product.name}}</td>
                                <td>{{item.returned_quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.returned_value}}</td>
                            </tr>
                            <tr style="height:100%">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% endfor %}
                    </tbody>
                    {% include "common_data/common/invoice_footer.html" %}
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% include "common_data/common/terms_and_comments.html" %}
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
