{% extends 'common_data/common/document_header.html' %}

{% block title %}
{% if object.status == 'proforma' %}Proforma{% endif %}
{% if object.tax_amount > 0 %} Tax {% endif %} Invoice {% if object.draft %}(Draft){% endif %}
{% endblock title %}

{% block left_content %}

<table>
    <tbody>
        <tr>
            <td>
                Invoice Number:
            </td>
            <td>
                INV{{object.invoice_number | stringformat:"06d"}}
            </td>
        </tr>
        {% if object.status != "draft" %}
        <tr>
            <td>Customer PO No:</td>
            <td>{{object.purchase_order_number}}</td>

        </tr>
        {% endif %}
    <tbody>
</table>
<br>
<table>
    <tbody>
        <tr>
            <td>Date:</td>
            <td>{{object.date}}</td>
        </tr>
        <tr>
            <td>Due Date:</td>
            <td>{{object.due}}</td>
        </tr>
    </tbody>
</table>


{% endblock left_content %}

{% block right_content %}
{% include "common_data/common/business.html" %}

{% endblock right_content %}

{% block lower_left %}
{% include "common_data/common/customer_data.html" %}
{% endblock lower_left %}


{% block lower_center %}
{% endblock lower_center %}
