{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr class="info">
    <td>Date</td>
    <td>Invoice #</td>
    <td>Customer</td>
    <td>Total</td>
    <td>Draft?</td>
    <td>Status</td>
</tr>
{% endblock %} {% block list_content %} 
{% for inv in object_list %}
<tr>
    <td>{{inv.date}}</td>
    <td>{{inv.invoice_number|stringformat:"06d"}}</td>
    <td>{{inv.customer}}</td>
    <td>{{inv.total | floatformat:2}}</td>
    <td>{% if inv.draft %} Yes {% else %} No {% endif %}</td>
    <td>{{inv.status}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                
                {% if inv.status == "quotation" %}
                {% if inv.quotation_is_valid %}
                    <a class="dropdown-item" href="{% url 'invoicing:make-invoice' pk=inv.pk %}"> <i class="fa fa-file-alt" aria-hidden="true"></i> Make Invoice from Quotation</a>
                    <a class="dropdown-item" href="{% url 'invoicing:make-proforma' pk=inv.pk %}"> <i class="fa fa-file" aria-hidden="true"></i> Make Proforma Invoice from Quotation</a>
                {% else %}
                    <p class="dropdown-item" style="color:red;"><i class="fas fa-times    "></i> Quotation is no longer valid</p>
                {% endif %}
                <a class="dropdown-item" href="{% url 'invoicing:quotation-details' pk=inv.pk %}">
                        <i class="fas fa-eye"></i> View {% if inv.draft %} / Validate {% endif %}
                    </a>
                {% elif inv.status == "proforma" %}
                    <a class="dropdown-item" href="{% url 'invoicing:invoice-details' pk=inv.pk %}">
                        <i class="fas fa-eye"></i> View {% if inv.draft %} / Validate {% endif %}
                    </a>
                    <a class="dropdown-item" href="{% url 'invoicing:make-invoice' pk=inv.pk %}"> <i class="fa fa-file-alt" aria-hidden="true"></i> Make Invoice from Proforma Invoice</a>
                {% else %} <!-- Invoice or paid -->

                <a class="dropdown-item" href="{% url 'invoicing:invoice-details' pk=inv.pk %}">
                        <i class="fas fa-eye"></i> View {% if inv.draft %} / Validate {% endif %}
                </a>
                {% if inv.quotation_number %}
                    <a class="dropdown-item" href="{% url 'invoicing:quotation-details' pk=inv.pk %}">
                    <i class="fas fa-file"></i> View Quotation
                </a>
                {% endif %}
                
                {% if inv.draft %}
                <a class="dropdown-item" href="{% if inv.status == 'quotation' %} {% url 'invoicing:quotation-update' pk=inv.pk %} {% else %} {% url 'invoicing:invoice-update' pk=inv.pk %} {% endif %}">
                    <i class="fas fa-edit"></i> Update
                </a>
                {% endif %}

                    <h6 class="dropdown-header">Payments</h6>
                <a class="dropdown-item" href="{% url 'invoicing:invoice-payment' pk=inv.pk %}">
                    <i class="fas fa-money-bill-alt"></i> Apply Payment
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:invoice-payment-detail' pk=inv.pk %}">
                        <i class="fas fa-list-ol"></i> View Payments
                    </a>
                
                <h6 class="dropdown-header">Credit Notes</h6>
                
                <a class="dropdown-item" href="{% url 'invoicing:credit-note-create' pk=inv.pk %}">
                    <i class="fas fa-trash"></i> Create Credit Note
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:invoice-returns' pk=inv.pk %}">
                        <i class="fas fa-list-ol"></i> Manage Credit Notes
                </a>

                <h6 class="dropdown-header">Shipping and Handling</h6>                
                <a class="dropdown-item" href="{% url 'invoicing:invoice-shipping-costs' pk=inv.pk %}">
                    <i class="fas fa-truck"></i> Record shipping expenses
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:invoice-shipping-costs-list' pk=inv.pk %}">
                    <i class="fas fa-list-ol"></i> View recorded shipping expenses
                </a>
                
                {% endif %}
                <h6 class="dropdown-header">Other</h6>
                
                <a class="dropdown-item" href="{% if inv.status == 'quotation' %} {% url 'invoicing:quotation-pdf' pk=inv.pk %} {% else %} {% url 'invoicing:invoice-pdf' pk=inv.pk %} {% endif %}">
                    <i class="fas fa-file-pdf"></i> Create PDF
                </a>

                <a class="dropdown-item" href="{% if inv.status == 'quotation' %} {% url 'invoicing:quotation-email' pk=inv.pk %} {% else %} {% url 'invoicing:invoice-email' pk=inv.pk %} {% endif %}">
                        <i class="fas fa-at"></i> Send Email
                    </a>
                
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}