{% extends "window.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Shipping Expenses</h1>
    <p class="lead">Lists accumulated expenses incurred in fulfilling the order to a customer</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary " href="{% url 'invoicing:invoice-shipping-costs' pk=object.pk %}" role="button">Add shipping expense</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h4 class="card-title">Meta Data</h4>
                        <p class="card-text">Invoice: {{object.invoice_number}}</p>
                        <p class="card-text">Invoice Value: ${{object.total | floatformat:2}}</p>
                        <p class="card-text">Total shipping costs: ${{object.total_shipping_costs | floatformat:2}}</p>
                        <p class="card-text">Percentage shipping cost: {{object.percentage_shipping_cost | floatformat:2 }}%</p>
                    </div>
                </div>
                <div class="card" style="min-width:66%">
                    <div class="card-body">
                        <h4 class="card-title">Expense List</h4>
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th>Expense ID</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in object.shipping_expenses.all %}
                                <tr>
                                    <td><a href="{% url 'accounting:expense-detail' pk=expense.pk %}">{{expense.pk}}</a></td>
                                    <td>{{expense.date}}</td>
                                    <td>{{expense.amount | floatformat:2}}</td>
                                    <td style="width:50%">{{expense.description | truncatechars:80}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}