{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}">
{% endblock %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">{{description}}</p>
        {% if related_links %}
        <p>Actions</p>
            
            <script>
                function linkClickHandler(link){
                   $('#popup-frame').attr('src', link);
                   var modal = document.getElementById('id-my-modal');
                    modal.style.display = 'block';
                   
                }   
            </script>
            <div class="btn btn-group">
                    {% for item in related_links %}
                        <a class="btn btn-primary text-white"  onclick="linkClickHandler('{{item.url}}')" target="popup">{{item.name}}</a>
                    {% endfor %}    
            </div>
        <p class="lead">
        
        {% endif %}
    </div>
</div>
<input type="hidden" id="box-array" value="{{box_array}}">

<div class="container">
    <div class="shadow card ">
        <div class="card-body">
            <div>
            {{ form.errors }}
            {% crispy form %}                    
            </div>

            
        </div>
    </div>
</div>
<script>
    // add form field
    $('form').append('<input type="hidden" name="items" id="id_items">');
</script>

{% render_bundle 'inventory' %}
{% endblock %}