{% extends "common_data/list_template.html" %} 

{% block other %}


{% endblock other %}

{% block list_headings %}
<tr>
    <td class="info">Order #</td>
    <td class="info">Issue Date</td>
    <td class="info">Status</td>
    <td class="info">Supplier</td>
    <td class="info"># of Items</td>
    <td class="info">Total Cost</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for order in object_list %}
<tr>
    <td>{{order.pk}}</td>
    <td>{{order.date}}</td>
    <td>{{order.status}}</td>
    <td>{{order.supplier}}</td>
    <td>{{order.orderitem_set.all.count}}</td>
    <td>{{order.total}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                {% if order.status == "draft" %}
                    <a href="{% url 'inventory:order-update' pk=order.pk %}" class="dropdown-item">
                        <i class="fas fa-file"></i> Update
                    </a>
                {% endif %}
                <a href="{% url 'inventory:order-detail' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-eye"></i> View {% if order.status == "draft" %} / Verify {% endif %}
                </a>
                <a href="{% url 'inventory:order-delete' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-trash"></i> Delete
                </a>
                <a href="{% url 'inventory:order-status' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-eye"></i> Status
                    <!--Change this ! -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'inventory:order-pdf' pk=order.pk %}" class="dropdown-item">
                        <i class="fas fa-file-pdf"></i> Generate PDF
                        <!--Change this ! -->
                    </a>
                    <a href="{% url 'inventory:order-email' pk=order.pk %}" class="dropdown-item">
                            <i class="fas fa-at"></i> Send Email
                            <!--Change this ! -->
                        </a>
                {% if order.status != 'draft' %}
                <h6 class="dropdown-header">Returns</h6>
                
                <a class="dropdown-item" href="{% url 'inventory:debit-note-create' pk=order.pk %}">
                    <i class="fas fa-trash"></i> Create Debit Note
                </a>
                <a class="dropdown-item" href="{% url 'inventory:debit-note-list' pk=order.pk %}">
                        <i class="fas fa-list-ol"></i> View Debit Notes
                </a>

                <h6 class="dropdown-header">Shipping and Handling</h6>                
                <a href="{% url 'inventory:order-expense' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-truck"></i> Add Shipping And Handling Expenses
                </a>
                <a href="{% url 'inventory:order-expense-list' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-list-ol"></i> List Shipping And Handling Expenses
                </a>
                <h6 class="dropdown-header">Goods Receipts</h6>                

                <a class="dropdown-item" href="{% url 'inventory:stock-receipt-create' warehouse=order.ship_to.pk pk=order.pk %}">
                    <i class="fas fa-share-square"></i> Receive order</a>
                
                {% if order.stockreceipt_set.all.count > 0 %}
                <a href="{% url 'inventory:stock-receipts-list' pk=order.pk %}" class="dropdown-item">
                        <i class="fas fa-eye"></i> View Goods Receipts List</a>
                {% endif %}
                
                

                <h6 class="dropdown-header">Payments</h6>                
                {% if order.payment_status != "paid" %}
                <a href="{% url 'inventory:order-payment' pk=order.pk %}" class="dropdown-item">
                    <i class="fas fa-receipt"></i> Make Payment
                    <!--Change this ! -->
                </a>
                {% endif %}
                <a  class="dropdown-item"
                    href="{% url 'inventory:order-payment-list' pk=order.pk %}">
                    <i class="fas fa-list-ol"></i> View Payments
                    <!--Change this ! -->
                </a>
                {% endif %}
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}