{% extends "window.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3"> Expense Details</h1>
    <p class="lead">Information regarding payments of expenses incurred by the business</p>
    <hr class="my-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                    Actions
                </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="/accounting/expense/create"> <i class="fas fa-plus"></i> Record Another Expense</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-sm-4">
                <div class="card shadow" >
                <div class="card-body ">
                    <h3 class="card-title">Details</h3>
                    <p class="card-text">Amount: {{object.amount}}</p>
                    <p class="card-text">Account Debited: {{object.debit_account}}</p>
                    <p class="card-text">Date Created: {{object.date}}</p>
                    <p class="card-text">Category: {{object.category_string}}</p>
                </div>
            </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Description</h4>
                        <p class="card-text">{{object.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Billing Information</h4>
                        <p class="card-text">Billable?: {% if object.billable %} Yes {% else %} No {% endif %}</p>
                        {% if object.billable %}<p class="card-text">Customer:  {{object.customer}}</p>{% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock content %}