{% extends 'base.html' %}
{% block window %}
{% load accounting %}
<div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" ><a data-toggle="pill" href="#Main"
                                            class="nav-link active">Data Grid</a></li>
                                    <li class="nav-item"><a data-toggle="pill" href="#Graph" class="nav-link">Graph</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-10">
                                <div class="tab-content panel-body">

                                    <div id="Main" class="tab-pane active">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Orders Yet to Be Delivered: <br>{{undelivered_orders}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Outstanding Orders: <br>{{outstanding_orders}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3>Money Owed to Vendors: <br>{{money_owed | active_currency}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="dashbox white-on-blue">
                                                <h3># Active Vendors: <br>{{vendors}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Warehouses: <br>{{warehouses}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Open Requisitions: <br>{{open_requisitions}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Pending Inventory Transfers: <br>{{pending_transfers}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Equipment Items: <br>{{equipment}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Unique Consumable Items: <br>{{consumables}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Unique Products: <br>{{products}}</h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="Graph" class="tab-pane fade in">
                                        
                                        {% autoescape off %}
                                        {{graph}}
                                        {% endautoescape %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

{% endblock window %}