{% extends "window.html" %} {% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="jumbotron">
        <h1 class="display-3">Configuration settings for inventory</h1>
        <hr class="my-2" />
        <button class="btn btn-primary" type="submit">Submit Changes</button>
    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#accounts">Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#general">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Other</a>
                        </li>
                    </ul>
                
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="accounts">
                            <table>
                                <tbody>
                                    <!--
                                    <tr>
                                        <th>Inventory Account</th>
                                        <td>{{form.inventory_account}}</td>
                                    </tr>
                                    <tr>
                                        <th>Order Account</th>
                                        <td>{{form.order_account}}</td>
                                    </tr>
                                    -->
                                    <tr>
                                        <th>Inventory Valuation</th>
                                        <td>{{form.inventory_valuation}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade show" id="general"></div>
                    </div>
          
</form>
{% endblock content %}