{% extends "window.html" %} {% block content %}
<style>
    .card th {
        color: white;
    }

    .white-on-blue {
        background-color: white;
        border: 1px solid #007bff;
        color: #007bff;
    }
</style>
<div class="jumbotron">
    <h1 class="display-3"><i class=" fas fa-warehouse" style="color:#07f; font-size:128;"></i> Inventory Dashboard</h1>
    <p class="lead">Manage inventory items and warehouses</p>
    <hr class="my-2">

</div>
<div class="container">
    <div class="tab-content">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#actions" data-toggle="tab">Actions</a></li>
                <li class="nav-item"><a class="nav-link" href="#dashboard" data-toggle="tab">Dashboard</a></li>
            </ul>
            <div class="tab-content panel-body">
                <div id="actions" class="tab-pane active">
                    <div class="card-deck">
                        {% if use_warehousing_model %}
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fas fa-warehouse"></i> Warehouse Management</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:warehouse-create' %}">Add Warehouse</a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:warehouse-list' %}"> Manage Warehouses</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fas fa-puzzle-piece"></i> Inventory Management</h4>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:warehouse-detail' pk=1 %}">View Inventory</a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:create-inventory-check' pk=1 %}"> Check Inventory</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:scrap-inventory' pk=1 %}"> Scrap Inventory</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-file-invoice"></i> Purchases</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:order-create' %}">Create New Purchase Order</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:order-list' %}">Manage Orders</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-shipping-fast"></i> Vendors</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <a class="card-link" href="{% url 'inventory:supplier-create' %}">Create
                                            Vendor</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:supplier-list'%} ">Manage Vendors</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />

                    <div class="card-deck">
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-shopping-basket"></i> Inventory</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% if use_product_inventory %}
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:product-list' %}">Manage Products</a>
                                    </li>
                                    {% endif %}
                                    {% if use_equipment_inventory %}
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:equipment-list' %}">Manage Equipment</a>
                                    </li>
                                    {% endif %}
                                    {% if use_consumables_inventory %}
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:consumable-list' %}">Manage Consumables</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        {% if use_equipment_inventory or use_consumables_inventory %}
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-file-signature"></i> Requisitions</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <a href="{% url 'services:equipment-requisition-list' %}">Manage Equipment
                                            Requisitions</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'services:consumable-requisition-list' %}">Manage Consumables
                                            Requisitions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="card-header">
                                    <h4 class="card-title"><i class="fas fa-chart-bar"></i> Reports</h4>
                                </div>
                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:inventory-report' %}">Item Stock Level Report</a>
                                    </li>

                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:outstanding-orders-report' %}">Outstanding Orders
                                            Report</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="card-deck">
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-sliders-h"></i> Configuration</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:config' pk=1 %}">Settings</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:category-list' %}">Manage Inventory Categories</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{% url 'inventory:unit-list' %}">Manage Units Of Measure</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dashboard" class="tab-pane">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">
                                <ul class="nav nav-pills flex-column ">
                                    <li class="nav-item"><a data-toggle="pill" href="#Main"
                                            class="nav-link active">Main</a></li>
                                    <li class="nav-item"><a data-toggle="pill" href="#Graph" class="nav-link">Data
                                            Grid</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-10">
                                <div class="tab-content panel-body">

                                    <div id="Main" class="tab-pane active">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Orders Yet to Be Delivered: <br>{{undelivered_orders}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Outstanding Orders: <br>{{outstanding_orders}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3>Money Owed to Vendors: <br>${{money_owed}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="dashbox white-on-blue">
                                                <h3># Active Vendors: <br>{{vendors}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Warehouses: <br>{{warehouses}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Open Requisitions: <br>{{open_requisitions}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Pending Inventory Transfers: <br>{{pending_transfers}}</h3>
                                            </div>
                                            <div class="dashbox white-on-blue">
                                                <h3># Equipment Items: <br>{{equipment}}</h3>
                                            </div>
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Unique Consumable Items: <br>{{consumables}}</h3>
                                            </div>
                                        </div>
                                        <hr class="my-4">
                                        <div class="dash-container">
                                            <div class="bg-primary text-white dashbox">
                                                <h3># Unique Products: <br>{{products}}</h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="Graph" class="tab-pane fade in">
                                        <h4>Inventory Movement in the last 7 days</h4>
                                        {% autoescape off %}
                                        {{graph}}
                                        {% endautoescape %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}