{% extends "window.html" %} {% block content %}
<style>
    .card th {
        color: white;
    }
</style>
<div class="jumbotron">
    <h1 class="display-3">Inventory Dashboard</h1>
    <p class="lead">Manage inventory items and warehouses</p>
    <hr class="my-2">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Products</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'inventory:product-create' %}">Create New Product</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:product-list' %}">Manage Product Inventory</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Equipment</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <a href="{% url 'inventory:equipment-create' %}">Add New Equipment</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:equipment-list' %}">Manage Equipment Inventory</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Consumables</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <a href="{% url 'inventory:consumable-create' %}">Create New Consumable</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:consumable-list' %}">Manage Consumable Inventory</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="my-4" />

            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Orders</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'inventory:order-create' %}">Create New Purchase Order</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:order-list' %}">Manage Orders</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Suppliers</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <a class="card-link" href="{% url 'base:organization-list' %}">Manage Organizations</a>
                            </li>

                            <li class="list-group-item">
                                <a class="card-link" href="{% url 'base:individual-list' %}">Manage Individuals</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:supplier-list'%} ">Manage Suppliers</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Warehouse Management</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'inventory:warehouse-create' %}">Add Warehouse</a>
                            </li>

                            <li class="list-group-item">
                                <a href="{% url 'inventory:warehouse-list' %}"> Manage Warehouses</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="my-4" />
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Requisitions</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <a href="{% url 'inventory:consumable-create' %}">Manage Equipment Requisitions</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'services:consumable-requisition-list' %}">Manage Consumables Requisitions</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Reports</h4>
                        </div>
                        <ul class="list-group">

                            <li class="list-group-item">
                                <a href="{% url 'inventory:inventory-report' %}">Item Stock Level Report</a>
                            </li>

                            <li class="list-group-item">
                                <a href="{% url 'inventory:outstanding-orders-report' %}">Outstanding Orders Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Configuration</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'inventory:config' pk=1 %}">Settings</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'inventory:category-list' %}">Manage Inventory Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}