{% extends "window.html" %} 
{% load render_bundle from webpack_loader %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Current Agenda</h1>
    <p class="lead">View a focused ordered set of events for planning the next few days of work</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'planner:event-create' %}" role="button">Create New Event</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="agenda-timeline">
            
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
    {% render_bundle "calendar" %}

    {% endblock content %}

