{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Planner Configuration</h1>
    <p class="lead">Manage Settings for the planner App</p>
    <hr class="my-2">
</div>

<div class="shadow container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}