{% extends "window.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Consumables Requisition Details</h1>
    <p class="lead">View Details About items requested and release or authorize the requisition</p>
    <hr class="my-2">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 shadow">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Requisition Details</h4>
                    <p class="card-text">Date: {{object.date}}</p>
                    <p class="card-text">Department: {{object.department}}</p>
                    <p class="card-text">Reference: {{object.reference}}</p>
                    <p class="card-text">Requested By: {{object.requested_by}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#authorize">Authorize</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#release">Release</a></li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div class="tab-pane active" id="authorize">
                            {% if request.user.is_superuser and object.authorized_by is None %}
                            <form action="{% url 'services:consumable-requisition-authorize' pk=object.pk %}"
                                method="POST">
                                {% csrf_token %}
                                {{authorize_form.as_p}}
                                <button class="btn">Submit</button>
                            </form>
                            {% elif object.authorized_by is not None %}
                            <h5>
                                The Requisition has been authorized by {{object.authorized_by}}
                            </h5>
                            {% else %}
                            <h5>
                                To authorize this requisition, please login with the proper credentials. <a
                                    href="/login">Login</a>
                            </h5>
                            {% endif %}

                        </div>
                        <div class="tab-pane " id="release">
                            {% if request.user.is_superuser and object.released_by is None %}
                            <form action="{% url 'services:consumable-requisition-release' pk=object.pk %}"
                                method="POST">
                                {% csrf_token %}
                                {{authorize_form.as_p}}
                                <button class="btn btn-primary">Submit</button>
                            </form>
                            {% elif object.released_by is not None %}
                            <h5>
                                The Requisition has been released by {{object.released_by}}
                            </h5>
                            {% else %}
                            <h5>
                                To release this inventory, please login with the proper credentials. <a
                                    href="/login">Login</a>
                            </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h4>Requested Items</h4>

            <table class="table table-sm  table-hover ">
                <thead>
                    <tr class="bg-primary">
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in object.consumablesrequisitionline_set.all %}
                    <tr>
                        <td>{{line.pk}}</td>
                        <td>{{line.consumable}}</td>
                        <td>{{line.unit}}</td>
                        <td>{{line.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}