{% extends "window.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Consumable Requisition Details</h1>
    <p class="lead">View requested consumables and requisition status</p>
    
</div>
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <p>Date Requested:{{object.date}}</p>
                    
                    <p>Warehouse: {{object.warehouse}}</p>
                    <p>Department: {{object.department}}</p>
                    <p>Reference: {{object.reference}}</p>
                    <hr>
                    <h5>Personnel chain</h5>
                    <p>Requested By: {{object.requested_by}}</p>
                    <p>Authorized By: {{object.authorized_by}}</p>
                    <p>Released By: {{object.released_by}}</p>
                    <p>Received By: {{object.received_by}}</p>

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Requested:</h3>
            <hr class="my-4" />
            <table class="table table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>Consumable</th>
                    <th>Unit</th>
                    <th>Requested Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for line in object.consumablesrequisitionline_set.all %}
                    <tr>
                        <td>{{line.consumable}}</td>
                        <td>{{line.unit}}</td>
                        <td>{{line.quantity}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
</form>

{% endblock %}