{% extends "window.html" %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-3">Sales Invoice Returns</h1>
        <p class="lead">List of returns for the sales invoice.</p>
        <hr class="my-2">
        <p>Actions</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'invoicing:credit-note-create' pk=invoice.pk %}" >Add Returns</a>
        </p>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Invoice Details</h4>
                        <p class="card-text">Invoice Number: {{invoice.id}}</p>
                        <p class="card-text">Invoice Date: {{invoice.date}}</p>
                        <p class="card-text">Invoice Due: {{invoice.due | floatformat:2}}</p>
                        <p class="card-text">Invoice Total: {{invoice.total | floatformat:2}}</p>
                        <p class="card-text">Total Returned: {{invoice.returned_total | floatformat:2}}</p></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <table class="table table-sm">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>Date</th>
                            <th>Credit Note</th>
                            <th>Number of Items</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for return in object_list %}
                            <tr>
                                <td>{{return.date}}</td>
                                <td>{{return.id | stringformat:'06d' }}</td>
                                <td>{{return.returned_items.count}}</td>
                                <td>{{return.returned_total | floatformat:2}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                    Actions
                                                </button>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                            <a class="dropdown-item" href="{% url 'invoicing:credit-note-detail' pk=return.pk %}"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                            <a class="dropdown-item" href="{% url 'invoicing:credit-note-pdf' pk=return.pk %}"> <i class="fa fa-file-pdf" aria-hidden="true"></i> Generate PDF</a>  
                                        </div>
                                    </div>

                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total</th>
                            <td>{{invoice.returned_total | floatformat:2}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

