{% extends 'common_data/common/document_header.html' %}

{% block title %}
    Credit Note
{% endblock title %}

{% block left_content %}
<div style="display:block;">
    <p>
        <b>Customer:</b>
    </p>
    <h6>{{object.invoice.customer}}</h6>
    <p>{{object.invoice.customer.address | linebreaks}} </p>
</div>
{% endblock left_content %}

{% block right_content %}
{% include 'common_data/common/business.html' %}

{% endblock right_content %}

{% block lower_left %}
    <table style="width:100%;">
        <tbody>
            <tr>
                <td>Date:</td>
                <td>{{object.date}}</td>
            </tr>
            <tr>
                    <td>Credit Note ID:</td>
                    <td>{{object.pk | stringformat:"06d"}}</td>
                </tr>
            <tr>
                <td>Invoice Number:</td>
                <td>{{object.invoice.id | stringformat:"06d"}}</td>
            </tr>
        </tbody>
    </table>
{% endblock lower_left %}


{% block lower_center %}
{% endblock lower_center %}

{% block lower_right %}
{% endblock lower_right %}