{% extends "common_data/list_template.html" %} 
{% block list_headings %}
<tr>
    <td class="info">Credit Note #</td>
    <td class="info">Invoice Note #</td>
    <td class="info">Date</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} 
{% block list_content %} 
{% for note in object_list %}
<tr>
    <td>{{note.pk|stringformat:"06d"}}</td>
    <td>{{note.invoice.invoice_number |stringformat:"06d"}}</td>
    <td>{{note.date}}</td>
    <td>
        <a href="{% url 'invoicing:credit-note-detail' pk=note.pk %}" class="btn btn-success">View</a>
    </td>
</tr>
{% endfor %}
{% endblock %}