{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Messaging Inbox</h1>
    <p class="lead">Welcome {{request.user.username}}!</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'messaging:create-message' %}" role="button">Compose</a>
    </p>
</div>

<style>
    .block-link {
        text-decoration: none;
        color: black;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs|pills nav-stacked">
                <li class="nav-item">
                    <a href="#messages" data-toggle="tab" class="nav-link active">Messages <span class="badge badge-primary">{{object.unread_messages}}</span></a>
                </li>
                <li class="nav-item">
                    <a href="#notifications" data-toggle="tab" class="nav-link">Notifications <span class="badge badge-primary">{{object.unread_notifications}}</span></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="messages" role="tabpanel" >
                    {% if object.threads.all.count == 0 %}
                        <h5>No messages to display</h5>
                    {% else %}
                    <p>Number of open threads:  {{object.threads.all.count}}</p>
                    {% for thread in object.threads.all %}
                        <a class="block-link" href="{% url 'messaging:message-detail' pk=thread.latest.pk %}" style="text-decoration:none;">
                            <div class="bg-primary text-white"  style="padding:10px; border-top: 2px solid white;">
                            <h6>{{thread.latest.sender.username}}</h6>
                            <hr />
                            <p>{{thread.latest.subject}}</p>
                        </div>
                    </a>
                    {% endfor %}

                    {% endif %}
                    
                    <!--Paginate the list of messages -->
                </div>
                <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="profile-tab">
                    {% if object.notifications.count == 0 %}
                        <h5>No notifications to display</h5>
                    {% else %}
                    <p>Loading Notifications ...</p>
                    {% for notification in object.notifications %}
                        <div style="border:1px solid black; padding:10px;">
                            <h4>{{notification.title}}</h4>
                            <hr />
                            <p>{{notification.message | truncatechars:80}}</p>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}