{% extends "window.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3"><i class="fas fa-envelope" style="color: #07f; font-size:128;"></i> Messaging Inbox</h1>
    <p class="lead">Welcome {{request.user.username}}!</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'messaging:create-message' %}" role="button">Compose <i class="fas fa-pen"></i></a>
    </p>
</div>

<style>
    .block-link {
        text-decoration: none;
        color: black;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav nav-tabs|pills nav-stacked">
                <li class="nav-item">
                    <a href="#messages" data-toggle="tab" class="nav-link active">Open Threads <span class="badge badge-primary">{{object.unread_messages}}</span></a>
                </li>
                <li class="nav-item">
                    <a href="#archived-messages" data-toggle="tab" class="nav-link">Archived Threads</a>
                </li>
                <li class="nav-item">
                    <a href="#notifications" data-toggle="tab" class="nav-link">Notifications <span class="badge badge-primary">{{object.unread_notifications}}</span></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="messages" role="tabpanel" >
                    {% if object.threads.all.count == 0 %}
                        <h5>No messages to display</h5>
                    {% else %}
                    {% for thread in object.threads.all %}
                    {% if not thread.closed %}
                        <a class="block-link" href="{% url 'messaging:message-detail' pk=thread.latest.pk %}" style="text-decoration:none;">
                                <div class="bg-primary text-white"  style="padding:10px; border-top: 2px solid white;">
                                <div style="width: 30%; display: inline-block;">
                                    <i class="fas fa-user" style="font-size: 2cm;margin-left:1cm;;"></i>
                                </div>
                                <div style="width: 60%; display: inline-block;">
                                    <h6>{{thread.latest.sender.username}}</h6>
                                    <hr />
                                    <p>{{thread.latest.subject}}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                        
                    {% endfor %}

                    {% endif %}
                    
                    <!--Paginate the list of messages -->
                </div>
                <div class="tab-pane fade" id="archived-messages" role="tabpanel" >
                    {% if object.archived_threads.count == 0 %}
                    <h5>No threads archived</h5>
                    {% endif %}
                    {% for thread in object.archived_threads %}
                        <a class="block-link" href="{% url 'messaging:message-detail' pk=thread.latest.pk %}" style="text-decoration:none;">
                                <div class="bg-info text-white"  style="padding:10px; border-top: 2px solid white;">
                                <div style="width: 30%; display: inline-block;">
                                    <i class="fas fa-user" style="font-size: 2cm;margin-left:1cm;;"></i>
                                </div>
                                <div style="width: 60%; display: inline-block;">
                                    <h6>{{thread.latest.sender.username}}</h6>
                                    <hr />
                                    <p>{{thread.latest.subject}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="profile-tab">
                    {% if object.notifications.count == 0 %}
                        <h5>No notifications to display</h5>
                    {% else %}
                    {% for notification in object.notifications %}
                        <a href="{% url 'messaging:notification' pk=notification.pk %}" style="text-decoration:none;">
                        <div class="bg-primary text-white" style=" padding:10px; border-top: 2px solid white;">
                            <h4>{{notification.title}}</h4>
                            <hr />
                            <p>{{notification.message | truncatechars:80}}</p>
                        </div>
                        </a>
                    {% endfor %}
                    {% endif %}
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <i style="font-size: 10cm;color: #ccc;margin-left:3cm;" class="fas fa-envelope"></i>
        </div>
    </div>
</div>
{% endblock %}