{% extends "invoicing/invoice_templates/common.html" %} {% block page_contents %}
<style>
    #page-layout {
        width: 100%;
        height: 100%;
    }

    #title {
        text-align: center;
    }
</style>

<div class="{{style}}-top-trim-large"></div>
<div class="{{style}}-top-trim-small"></div>


<table id="page-layout">
    <tbody>
        <tr>
            <td colspan="2" id="title">
                <h1>
                    Sales {% if object.status == 'quotation' %}Quotation{% else %} Invoice {% endif %}{% if object.status == 'draft' %}(Draft){% endif %}
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <img width="300" height="100" src="/media/{{logo}}" alt="Logo">
            </td>
            <td>
                <h4>
                    <b>{{business_name}}</b>
                </h4>
                {% if include_business_address %} {{business_address | linebreaks}} {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <div class="{{style}}-head-cell">
                    <p>
                        <b>Bill To:</b>
                    </p>
                    <p>{{object.customer}}</p>
                    {% if include_shipping %} {{object.customer.business_address | linebreaks}} {% endif %}
                </div>
            </td>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>Date:</td>
                            <td>{{object.date}}</td>
                        </tr>
                        <tr>
                            <td>Invoice Number:</td>
                            <td>SALES{{object.id | stringformat:"06d"}}</td>
                        </tr>
                        <tr>
                            <td>Due Date:</td>
                            <td>{{object.due}}</td>
                        </tr>
                        <tr>
                            <td>Customer PO No:</td>
                            <td>{{object.purchase_order_number}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="{{style}}-content" style="width:100%;height:60%;">
                    <thead>
                        <tr>
                            <td style="width:10%;">Qty</td>
                            <td style="width:50%;">Description</td>
                            <td style="width:15%;">Unit Price</td>
                            {% if include_discount_column %}
                            <td>Discount Rate (%)</td>
                            {% endif %}
                            <td style="width:15%;">Total</td>
                        </tr>
                    </thead>
                    <tbody class="item-table">
                        {% for item in object.salesinvoiceline_set.all %}
                        <tr>
                            <td>{{item.quantity}}</td>
                            <td>{{item.item.item_name}}</td>
                            <td>{{item.price | floatformat:2 }}</td>
                            <td>{{item.subtotal | floatformat:2 }}</td>

                        </tr>
                        {% endfor %}
                        <tr style="height:100%">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if include_discount_column %}
                            <td></td>
                            {% endif %}
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}">
                                <b>SubTotal:</b>
                            </td>
                            <td>{{object.subtotal | floatformat:2 }}</td>
                        </tr>
                        {% if tax_column %}
                        <tr>
                            <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}">
                                <b>Tax Due @{{object.tax.rate}}%:</b>
                            </td>
                            <td>{{object.tax_amount | floatformat:2 }}</td>
                        </tr>

                        <tr>
                            <td colspan="{% if include_discount_column %}4{% else %}3{% endif %}">
                                <b>Total:</b>
                            </td>
                            <td>{{object.total | floatformat:2 }}</td>
                        </tr>
                        {% endif %}
                    </tfoot>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="{{style}}-footer-cell">
                    <div class="{{style}}-footer-cell-heading">
                        <h6>Terms:</h6>
                    </div>
                    <div class="{{style}}-footer-cell-contents">
                        <p>{{object.terms}}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="{{style}}-footer-cell">
                    <div class="{{style}}-footer-cell-heading">
                        <h6>Comments:</h6>
                    </div>
                    <div class="{{style}}-footer-cell-contents">
                        <p>{{object.comments | linebreaks}}</p>
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="{{style}}-bottom-trim-small"></div>
<div class="{{style}}-bottom-trim-large"></div>

{% endblock %}