<table id="page-layout">
    <tbody>
        <tr>
            <td colspan="2" id="title">
                <h1>
                    Sales {% if object.status == 'quotation' %}Quotation{% else %} Invoice {% endif %}{% if object.status == 'draft' %}(Draft){% endif %}
                </h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="business-data">
                {% include "common_data/common/business_information.html" %}
            </td>
        </tr>
        <tr>
            <td id="customer-data">
                {% include "common_data/common/customer_data.html" %}  
            </td>
            <td id="details">
                <table >
                    <tbody>
                        <tr>
                            <td>Date:</td>
                            <td>{{object.date}}</td>
                        </tr>
                        {% if object.status != "draft" %}
                        <tr>
                            
                            <td>
                            {% if object.status == "quotation" %}
                            Quotation Number:
                            {% else %}
                            Invoice Number:
                            {% endif %}</td>
                            <td>
                            {% if object.status == "quotation" %}
                            QUOT{{object.quotation_number | stringformat:"06d"}}
                            {% else %}
                            SALES{{object.invoice_number | stringformat:"06d"}}
                            {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Due Date:</td>
                            <td>{{object.due}}</td>
                        </tr>
                        <tr>
                            <td>Customer PO No:</td>
                            <td>{{object.purchase_order_number}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for page in pages %}
                <table height="400" width="100%" id='item-table'>
                    <thead>
                        <tr>
                            <td style="width:10%;">Qty</td>
                            <td style="width:50%;">Product Name</td>
                            <td style="width:15%;">Unit Price</td>
                            {% if include_units_in_sales_invoice %}
                            <td>Unit</td>
                            {% endif %}
                            <td style="width:15%;">Total</td>
                        </tr>
                    </thead>
                    <tbody class="item-table">
                        {% for item in page %}
                        <tr>
                            <td>{{item.quantity}}</td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.price | floatformat:2 }}</td>
                            {% if include_units_in_sales_invoice %}
                            <td>{{item.product.unit}}</td>
                            {% endif %}
                            <td>{{item.subtotal | floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                        <tr style="height:100%">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if include_units_in_sales_invoice %}
                            <td></td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {% if not page.has_next %}
                    {% include "common_data/common/invoice_footer.html" %}
                    {% endif %}
                    </table>
                    <p>{{page}}</p>
                    {% if page.has_next %}
                    <p style="page-break-before:always"></p>
                    {% endif %}
                    {% endfor %}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" id="comments-and-terms">
                {% include "common_data/common/terms_and_comments.html" %}
            </td>
        </tr>
    </tfoot>
</table>