.day-wrapper {
    min-width: 150px;
    min-height: 100px;
    padding:5px;
}

.day-header {
    padding: 5px;
    background-color: slategray;
}

.eventBox {
    padding: 5px;
    background-color: #007bff;
    width: 100%;
    box-sizing: border-box;
}