.event{
    position: absolute;
    box-sizing: border-box;
    text-decoration: none;

}
.eventBox {
    background-color: #007bff;
    color: white;
    padding:5px;
    box-sizing: border-box;
    font-size: 1rem;
    border-right: 1px solid white;
}

.eventBox:hover{
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
}