{% extends "window.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Works Request</h1>
    <p class="lead">View the details of the progress of the Service and other information</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary " href="{% url 'services:work-order-create' pk=object.pk %}" role="button">Add Work Order</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">            
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Details</h4>
                        <p class="card-text">Services: {{object.service}}</p>
                        <p class="card-text">Date Created: {{object.created}}</p>
                        <p class="card-text">Created By: {{object.created_by}}</p>
                        <p class="card-text">Request Status: {{object.status}}</p>

                        <p class="card-text">Description: {{object.description}}</p>
                        {% if object.invoice %}
                        <h5>Invoice Details</h5>
                        <p class="card-text">Invoice Number: {{object.invoice.invoice_number |stringformat:"06d"}}</p>
                        <p class="card-text">Invoice Due Date: {{object.invoice.due}}</p>
                        <p class="card-text">Customer: {{object.invoice.customer}}</p>
                        <p class="card-text">Sales Representative: {{object.invoice.salesperson}}</p>
                        {% endif %}


                    </div>
                </div>
                <div class="card" style="min-width:66%;">
                    <div class="card-body">
                        <h4 class="card-title">Work Orders</h4>
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-primary">
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>No. Employees</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wo in object.work_orders %}
                                <tr>
                                    <td><a href="{% url 'services:work-order-detail' pk=wo.pk %}" class="btn btn-primary">{{wo.pk}}</a></td>
                                    <td>{{wo.status}}</td>
                                    <td>{{wo.number_of_employees}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}