{% extends "window.html" %}
{% load render_bundle from webpack_loader %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 shadow">
    {{form.errors}}
    <table class="table table-sm">
            <form action="" method="POST">
                {% csrf_token %}
        <tbody>
            <tr>
                <td colspan="2"><center><h1>Quotation</h1></center></td>
            </tr>
            <tr>
                <td valign="top">
                    <p>Customer</p>
                    <p>{{form.customer}}</p>
                    <p>Quoted By.</p>
                    <p>{{form.salesperson}}</p>
                </td>
                <td>
                    <p>Quotation Date</p>
                    <p>{{form.quotation_date}}</p>
                    <p>Quotation Valid Until</p>
                    <p>{{form.quotation_valid}}</p>
                    
                    <input  type="hidden" name="status" value="quotation">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#lines" data-toggle="tab">Quotation Lines</a></li>
                        <li class="nav-item"><a class="nav-link" href="#comments-terms" data-toggle="tab">T's & C's</a></li>
                    </ul>
                    <div class="tab-content panel-body">
                        <div id="lines" class="tab-pane active">
                            <div id="div_id_recipient" class="form-group"> <label for="id_recipient" class="col-form-label  requiredField">
                                    Quotation Lines</label>
                                <div id="invoice-table"></div>
                            </div>
                        </div>
                        <div id="comments-terms" class="tab-pane">
                            <div id="div_id_recipient" class="form-group"> <label for="id_recipient" class="col-form-label  requiredField">
                                    Terms and Comments</label>
                                <div class="{{style}}-footer-cell">
                                    <div class="{{style}}-footer-cell-heading">
                                            Terms:
                                    </div>
                                    <div class="{{style}}-footer-cell-contents">
                                            {{form.terms}}
                                    </div>
                                </div>
                                <div class="{{style}}-footer-cell">
                                    <div class="{{style}}-footer-cell-heading">
                                            Comments:
                                    </div>
                                    <div class="{{style}}-footer-cell-contents">
                                            {{form.comments}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="btn btn-info " type="submit">
                            Submit
                        </button>
                        
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
        </form>
    </table>

{% render_bundle 'invoicing' %}
</div>
        </div>
    </div>

{% endblock  %}
    