<table id="page-layout">
    <tbody>
        <tr>
            <td>
                {% include "invoicing/quotation/header.html" %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for page in pages %}
                <table class="{{style}}-content" height="500" width="100%">
                    <thead >
                        <tr >
                            <td style="width:50%;">Description</td>
                            <td style="width:8%;">Qty</td>
                            <td style="width:8%;">Unit</td>
                            <td style="width:9%;">Discount</td>
                            <td style="width:10%;">Tax</td>
                            <td style="width:15%;">Line Total</td>
                        </tr>
                    </thead>
                    {% include 'invoicing/lines.html' %}
                    {% if not page.has_next %}
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <b>SubTotal:</b>
                            </td>
                            <td>{{object.subtotal | floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <b>Tax Due @{{object.tax.rate}}%:</b>
                            </td>
                            <td>{{object.tax_amount | floatformat:2 }}</td>
                        </tr>

                        <tr>
                            <td colspan="5">
                                <b>Total:</b>
                            </td>
                            <td>{{object.total | floatformat:2 }}</td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
                <p>{{page}}</p>
                {% if page.has_next %}
                <p class="eop"></p>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% include "common_data/common/terms_and_comments.html" %}
            </td>
        </tr>
    </tbody>
</table>