<table id="page-layout">
    <tbody>
        <tr>
            <td colspan="2" id="title">
                <h1>Quotation {% if object.draft %}(Draft){% endif %}</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" id="business-data">
                {% include "common_data/common/business_information.html" %}
            </td>
        </tr>
        <tr>
            <td id="customer-data">
                {% include "common_data/common/customer_data.html" %}  
            </td>
            <td id="details">
                <table>
                    <tbody>
                        <tr>
                            <td>Quotation Date:</td>
                            <td>{{object.quotation_date}}</td>
                        </tr>
                        <tr>
                            <td>
                            Quotation Number:
                            </td>
                            <td>
                            QUOT{{object.quotation_number | stringformat:"06d"}}
                            </td>
                        </tr>
                        <tr>
                            <td>Quotation Valid Till:</td>
                            <td>{{object.quotation_valid}}</td>
                        </tr>
                        <tr>
                            <td>Quoted By:</td>
                            <td>{{object.salesperson}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% for page in pages %}
                <table class="{{style}}-content" height="500" width="100%">
                    <thead>
                        <tr>
                            <td style="width:85%;">Description</td>
                            <td style="width:15%;">Line Total</td>
                        </tr>
                    </thead>
                    <tbody class="item-table">
                        {% for item in page %}
                        <tr>
                            <td>{{item}}</td>
                            <td>{{item.subtotal | floatformat:2 }}</td>

                        </tr>
                        {% endfor %}
                        <tr style="height:100%">
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    {% if not page.has_next %}
                    <tfoot>
                        <tr>
                            <td>
                                <b>SubTotal:</b>
                            </td>
                            <td>{{object.subtotal | floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td >
                                <b>Tax Due @{{object.tax.rate}}%:</b>
                            </td>
                            <td>{{object.tax_amount | floatformat:2 }}</td>
                        </tr>

                        <tr>
                            <td >
                                <b>Total:</b>
                            </td>
                            <td>{{object.total | floatformat:2 }}</td>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
                <p>{{page}}</p>
                {% if page.has_next %}
                <p style="page-break-before:always"></p>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% include "common_data/common/terms_and_comments.html" %}
            </td>
        </tr>
    </tbody>
</table>