{% extends "window.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">Event Details</h1>
    <p class="lead">View Event Details</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead btn-group">
        <a class="btn btn-primary" href="{% url 'planner:event-update' pk=object.pk %}" role="button">Edit</a>
        <a class="btn btn-primary" href="/calendar/day/{{date_string}}" role="button">View In Calendar</a>
        <a class="btn btn-success" href="{% url 'planner:event-complete' pk=object.pk %}">Complete</a>
        <a class="btn btn-danger" href="{% url 'planner:event-delete' pk=object.pk %}">Delete</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow" >
                <div class="card-body">
                    <h4 class="card-title">Title: {{object.label}}</h4>
                    <p>Author: {{object.owner}}</p>
                    <p>Status: {% if object.completed %} Completed on {{object.completion_time}} {% else %} In Progress {% endif %}</p>
                    <p>Priority:{{object.priority}}</p>
                    <p>Date: {{object.date}}</p>
                    <p>Start Time: {{object.start_time}}</p>
                    <p>End Time: {{object.end_time}}</p>
                    <p>Repeat: {{object.repeat_string}}</p>
                    <p>Repeat Active? {{object.repeat_active}}</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text">
                            {{object.description}}
                    </p>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Participants</h4>
                    <ul>
                        {% if object.participants.all.count == 0 %}
                        <li>No participants for this event</li>
                        {% endif %}
                        {% for p in object.participants.all %}
                        <li>{{p}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>        
        </div>
        <div class="col-sm-2"></div>
    </div>
    {% endblock content %}