{% extends "window.html" %} {% load render_bundle from webpack_loader %} {% block content %}
<style>
    form li {
        list-style-type: none;
    }
</style>
<div class="jumbotron">
    <h1 class="display-3">Manual Payroll config form</h1>
    <p class="lead">Control panel for running payroll manually</p>
    <hr class="my-2">
</div>
{% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <form action="" method="POST">
        
                {{form.as_p}}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Run Payroll</button>
            </form>        
        </div>
    </div>
    <!--<div id="payroll-table"></div>-->
</div>
{% render_bundle 'employees' %}
<!--<script>
    $(document).ready(() => {
        $('#id_start_date').datepicker();
        $('#id_end_date').datepicker();
    });
</script>
-->
{% endblock content %}