{% extends 'common_data/list_template.html' %}

{% block list_headings %}
    <tr>
        <th>Slip #</th>
        <th>Payroll ID</th>
        <th>Employee</th>
        <th>Period</th>
        <th>Actions</th>
    </tr>
{% endblock %}

{% block list_content %}
    {% for item in object_list %}
        <tr>
            <td>{{item.pk}}</td>
            <td>{{item.pay_roll_id}}</td>
            <td>{{item.employee}}</td>
            <td>{{item.start_period}} - {{item.end_period}}</td>
            <td><a class="btn btn-success" href="{% url 'employees:pay-slip-detail' pk=item.pk %}">View</a></td>
        </tr>
    {% endfor %}
{% endblock %}