{% extends "window.html" %} {% block content %}

<div class="jumbotron">
    <h1 class="display-3">Payroll Element Lists</h1>
    <p class="lead">Lists all  Deductions, Commissions and Benefits</p>
    <hr class="my-2">
    <p>Allows users to update and delete each object</p>
</div>

<ul class="nav nav-tabs">
    
    <li class="nav-item active">
        <a class="nav-link" data-toggle='tab' href="#allowances">Benefits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle='tab' href="#deductions">Deductions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " data-toggle='tab' href="#commissions">Commission Rules</a>
    </li>
</ul>
<hr />
<div class="tab-content">
    <div class="tab-pane active" id='allowances'>
        <a href="{% url 'employees:create-allowance' %}" class="btn btn-primary">Add New Benefit</a>
        <hr>
        <div style="margin:1cm;">
            <table class="table table-sm  table-striped ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for allowance in allowances %}
                    <tr>
                        <td>{{allowance.name}}</td>
                        <td>{{allowance.amount}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Actions
                                        </button>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="{% url 'employees:update-allowance' pk=allowance.pk %}">
                                        <i class="fas fa-edit"></i>
                                        Update</a>
                                    <a class="dropdown-item " href="{% url 'employees:delete-allowance' pk=allowance.pk %}">
                                        <i class="fas fa-trash"></i>
                                        Delete </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id='deductions'>
            <a href="{% url 'employees:create-deduction' %}" class="btn btn-primary">Create New Deduction</a>
            <hr>
            <div style="margin:1cm;">
                <table class="table table-sm  table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Method</th>
                            <th>Rate (%) </th>    
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deduction in deductions %}
                        <tr>
                            <td>{{deduction.name}}</td>
                            <td>{{deduction.method}}</td>
                            <td>{{deduction.rate}}</td>
                            <td>{{deduction.amount}}</td>  
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                                Actions
                                            </button>
                                    <div class="dropdown-menu" aria-labelledby="triggerId">
                                        <a class="dropdown-item" href="{% url 'employees:update-deduction' pk=deduction.pk %}">
                                            <i class="fas fa-edit"></i>
                                            Update</a>
                                        <a class="dropdown-item " href="{% url 'employees:delete-deduction' pk=deduction.pk %}">
                                            <i class="fas fa-trash"></i>
                                            Delete </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    <div class="tab-pane fade" id='commissions'>
            <a href="{% url 'employees:create-commission' %}" class="btn btn-primary">Create New Commission Rule</a>
            <hr>
            <div style="margin:1cm;">
                <table class="table table-sm  table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Minimum Sales</th>
                            <th>Commission Rate (%)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commission in commissions %}
                        <tr>
                            <td>{{commission.name}}</td>
                            <td>{{commission.min_sales}}</td>
                            <td>{{commission.rate}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                                Actions
                                            </button>
                                    <div class="dropdown-menu" aria-labelledby="triggerId">
                                        <a class="dropdown-item" href="{% url 'employees:update-commission' pk=commission.pk %}">
                                            <i class="fas fa-edit"></i>
                                            Update</a>
                                        <a class="dropdown-item " href="{% url 'employees:delete-commission' pk=commission.pk %}">
                                            <i class="fas fa-trash"></i>
                                            Delete </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

{% endblock content %}