{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% block window %}
{% load static %}

<div class="jumbotron">
<h1 class="display-3">Welcome To The Employees Module</h1>
<p class="lead">To Proceed Please Fill In These Forms</p>
<hr class="my-2">
<p>Step {{wizard.steps.step1}} of {{wizard.steps.count}}.</p>
<style>
    .li-focused {
        font-weight: bold;
        font-size: 16px;
    }
</style>
<ul>
    <li class="{% if wizard.steps.step1 == 1 %}li-focused{% endif%}">Create a Payroll Date</li>
    <li class="{% if wizard.steps.step1 == 2 %}li-focused{% endif%}">Create a PayGrade</li>
    <li class="{% if wizard.steps.step1 == 3 %}li-focused{% endif%}">Create An Employee</li>
    <li class="{% if wizard.steps.step1 == 4 %}li-focused{% endif%}" >Create a Payroll Officer</li>
    <li class="{% if wizard.steps.step1 == 5 %}li-focused{% endif%}" >Configure Your Employee Settings</li>

</ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 shadow">
        <form action="" method="POST">
        {{wizard.management_form}}

        {% if wizard.forms.forms %}
            {{wizard.form.management_form}}
            {% for form in wizard.form.forms %}
                {% crispy form %}
                {% endfor %}

            {% else %}
            {{form.errors}}

                {% crispy wizard.form %}

            {% endif %}
        
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">Previous Stage</button>
            {% endif %}
        </form>
        
        </div>
    </div>
</div>

{% render_bundle "widgets" %}

<script>
            function dynamicFormRenderer(){
                var input = $("#id_id_vendor_type_0_1") //individual 
                if(input[0].checked){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
                
            }
            $(document).ready(dynamicFormRenderer);
            $("input[name='vendor_type']").on('change', function(evt){
                var value = evt.target.value;
                if(value === "individual"){
                    $('#div_id_business_partner_number').hide();
                    $('#div_id_organization').show();
                }else{
                    $('#div_id_business_partner_number').show();
                    $('#div_id_organization').hide();
                }
            })
    </script>
<script src='{% static "common_data/js/suave.js" %}'></script>

{% endblock window %}