{% extends "window.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Journal Detail</h1>
        <hr class="my-2">
        <p class="lead">Journal Details and Entries</p>
        
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                            <h4 class="card-title">Details</h4>
                    </div>
                    <div class="card-body">
                        <p>Name: {{object.name}}</p>
                        <p class="lead"> Start Period: {{object.start_period}}</p>
                        <p class="lead"> End Period: {{object.end_period}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                
                    <iframe width="700" height="500"  id="journal-frame" src="/accounting/journal/{{object.pk}}/entry-list">

                    </iframe>
                
            </div>
        </div>    
    </div>
    
{% endblock  %}