{% extends "window.html" %} {% load static %} {% load crispy_forms_tags %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} {% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Invoicing configuration</h1>
        <p>Modify aspects of invoice forms and reporting</p>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}