{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Full Name</td>
    <td class="info">Address</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for customer in object_list %}
<tr>
    <td>{{customer}}</td>
    <td>{{customer.billing_address}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a href="{% url 'invoicing:update-customer' pk=customer.pk %}" class="dropdown-item">
                    <i class="fas fa-file"></i> Update Customer Data
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:delete-customer' pk=customer.pk %}">
                    <i class="fas fa-trash"></i> Delete Customer
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:create-sales-invoice' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Make Product Sale Invoice
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:bill-create' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Bill Customer with Invoice
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:create-service-invoice' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Offer Service Invoice
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:create-combined-invoice' customer=customer.pk %}">
                    <i class="fas fa-receipt"></i> Create Combined Invoice
                </a>
                <a class="dropdown-item" href="{% url 'invoicing:customer-statement-form' pk=customer.pk %}">
                    <i class="fas fa-file-alt"></i> View Customer Account Statement
                </a>
            </div>
        </div>

    </td>
</tr>
{% endfor %} {% endblock %}