{% extends "window.html" %} {% block content %}
{% load static %}
<div class="jumbotron">
    <h1 class="display-3"><i class=" fas fa-cash-register" style="color:#07f; font-size:128;"></i> Sales Dashboard</h1>
    <p class="lead">Create invoices, apply customer payments, generate reports</p>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#actions" data-toggle="tab">Actions</a></li>
                <li class="nav-item"><a class="nav-link" href="#dashboard" data-toggle="tab">Dashboard</a></li>
            </ul>
            <div class="tab-content panel-body">
                <div id="actions" class="tab-pane active">
                    <div class="card-deck">
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-cash-register"></i> Invoices</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a class="card-link" href="{% url 'invoicing:create-quotation' %}">
                                            Create  Quotation
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a class="card-link" href="{% url 'invoicing:create-invoice' %}">
                                            Create  Invoice
                                        </a>
                                    </li>
                                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:invoices-list' %}">Manage
                                             Quotations + Invoices</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-shopping-cart"></i> Customers</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a class="card-link" href="{% url 'base:organization-list' %}">Create Customer</a></li>
                                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:organization-customers-list' %}">Manage Customers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-chart-bar"></i> Reports</h4>
                            </div>
                            <div class="card-body">

                                <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:customer-statement-form' %}">Customer
                                        Statement</a></li>
                                <!--
                            <li class="list-group-item"><a class="card-link" href="#">Unpaid Accounts Report</a></li>
                            <li class="list-group-item"><a class="card-link" href="#">Sales Rep reports</a></li>
                            <li class="list-group-item"><a class="card-link" href="#">Statement</a></li>
                            -->
                                <li class="list-group-item"><a class="card-link" href="/invoicing/sales-report-form">Sales
                                        Report</a></li>
                                <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:invoice-aging' %}">Invoice
                                        Aging Report</a></li>
                            </div>
                        </div>
                    </div>
                        
                    <hr class="my-4" />
                    <div class="card-deck">
                        <div class="card bg-primary text-white">
                            <div class="card-header">
                                <h4 class="card-title"><i class="fas fa-sliders-h"></i> Configuration</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:config' pk=1 %}">Settings</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dashboard" class="tab-pane">
                    <div class="dash-container">
                        <div class="bg-success text-white dashbox">
                            <h3>Sales To Date: ${{sales_to_date}}</h3>
                        </div>
                        <div class="bg-primary text-white dashbox">
                            <h3>Active Customers: {{customers}}</h3>
                        </div>
                        <div class="bg-warning text-white dashbox">
                            <h3>Outstanding Invoices: {{outstanding_invoices}}</h3>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="dash-container">
                        <div class="bg-warning text-white dashbox">
                            <h3>Money Owed: ${{money_owed | floatformat:2 }}</h3>
                        </div>
                        <div class="bg-danger text-white dashbox">
                            <h3>Overdue Invoices: {{overdue}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}