{% extends "window.html" %} {% block content %}
{% load static %}
<div class="jumbotron">
    <h1 class="display-3">Invoicing Dashboard</h1>
    <p class="lead">Create invoices, make payments, generate reports</p>
    
</div>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="card-deck">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Personnel</h4>
                </div>
                <div class="card-body">
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-sales-rep' %}">Add Sales Rep</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:sales-reps-list' %}">List and Review Sales Reps</a></li>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Invoicing</h4>
                </div>
                <div class="card-body">
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-invoice' %}">Create New Invoice</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:invoices-list' %}">List Invoices</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-quote' %}">Create New Quotation</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:quote-list' %}">List Quotations</a></li>
                    
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                      <h4 class="card-title">Payments</h4>
                </div>
                <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-payment' %}">Apply Payment</a></li>
                          <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:payments-list' %}">List Payments and Receipts</a></li>
                          
                      </ul>
                </div>
            </div>
    </div>
    <hr class="my-4"/>
    <div class="card-deck">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Products</h4>
                </div>
                <div class="card-body">
                    <li class="list-group-item"><a class="card-link" href="{% url 'inventory:item-create' %}">Add Item</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'inventory:item-list' %}">List Items</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:credit-note-create' %}">Create Credit note</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:credit-note-list' %}">Credit note List</a></li>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Clients</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-customer' %}">Add client</a></li>
                        <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:customers-list' %}">Client list</a></li>
                    </ul>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Reports</h4>
                </div>
                <div class="card-body">
                    
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:customer-statement-form' %}">Customer Statement</a></li><!--
                    <li class="list-group-item"><a class="card-link" href="#">Unpaid Accounts Report</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Sales Rep reports</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Statement</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Inventory Reports</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Invoice Reports</a></li> -->
                </div>
    </div>
    </div>
    <hr class="my-4" />
    <div class="card-deck">
            <div class="card bg-primary text-white">
                        <div class="card-header">
                            <h4 class="card-title">Configuration</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:config' %}">Settings</a></li>
                            </ul>
                        </div>
            </div>
</div>
</div>
<div class="col-sm-2"></div>
</div>
{% endblock %}