{% extends "window.html" %} {% block content %}
{% load static %}
<div class="jumbotron">
    <h1 class="display-3">Sales Dashboard</h1>
    <p class="lead">Create invoices, apply customer payments, generate reports</p>
    
</div>
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="card-deck">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Sales Invoices</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                            <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-sales-invoice' %}">Create Sales Invoice</a></li>
                            <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:sales-invoice-list' %}">List Sales Invoices</a></li>
                    </ul>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Service Invoices</h4>
                </div>
                <div class="card-body">
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-service-invoice' %}">Create Service Invoice</a></li>
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:service-invoice-list' %}">List Service Invoices</a></li>
                    
                    
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                      <h4 class="card-title">Bill Customers</h4>
                </div>
                <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-bill' %}">Create Bill</a></li>
                          <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:bill-list' %}">List Bills</a></li>
                          
                      </ul>
                </div>
            </div>
    </div>
    <hr class="my-4"/>
    <div class="card-deck">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Combined Invoices</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                            <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:create-combined-invoice' %}">Create Combined Invoice</a></li>
                            <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:combined-invoice-list' %}">List Combined Invoices </a></li>
                    </ul>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Customers</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a class="card-link" href="{% url 'base:organization-list' %}">Manage Organizations</a></li>
                        <li class="list-group-item"><a class="card-link" href="{% url 'base:individual-list' %}">Manage Individuals</a></li>
                        <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:customers-list' %}">Manage Customers</a></li>
                    </ul>
                </div>
            </div>
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Reports</h4>
                </div>
                <div class="card-body">
                    
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:customer-statement-form' %}">Customer Statement</a></li><!--
                    <li class="list-group-item"><a class="card-link" href="#">Unpaid Accounts Report</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Sales Rep reports</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Statement</a></li>
                    <li class="list-group-item"><a class="card-link" href="#">Inventory Reports</a></li>-->
                    <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:invoice-aging' %}">Invoice Aging Report</a></li>
                </div>
    </div>
    </div>
    <hr class="my-4" />
    <div class="card-deck">
            <div class="card bg-primary text-white">
                        <div class="card-header">
                            <h4 class="card-title">Configuration</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a class="card-link" href="{% url 'invoicing:config' pk=1 %}">Settings</a></li>
                            </ul>
                        </div>
            </div>
</div>
</div>
<div class="col-sm-2"></div>
</div>
{% endblock %}