{% extends "common_data/page.html" %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load render_bundle from webpack_loader %} 

{% block pre_page %}
<div class="jumbotron">
    <h1 class="display-3">Create New Invoice</h1>
    <p class="lead">Quick Actions</p>
    <hr class="my-2">
    {% if modals %}
                    {% for modal in modals %}
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#{{modal.link}}">
                        {{modal.title}}
                    </button>
                    {% endfor %}
                
            {% endif %}
</div>

{% endblock pre_page %}
{% block page_contents %}
<style>
        #page-layout {
            width: 100%;
            height: 100%;
        }
        
        #title {
            text-align: center;
        }
        </style>

<table id="page-layout">
        <form method="POST" action="">
            {% csrf_token %}
   <tbody>
        <tr>
                <td colspan="2">
                    <h1>{{invoice_title}}</h1>
                </td>
            </tr>
            <tr>
                    <td>
                            <img width="300" height="100" src="/media/{{logo}}" alt="Logo">
                    </td>
                    <td>
                        <h4><b>{{business_name}}</b></h4>
                        {% if include_business_address %}
                            {{business_address | linebreaks}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td> 
                        <p><b>Bill To:</b></p>
                    <p>{{form.customer}}</p>
                    <p>Type of Invoice:</p>
                    <p>{{form.type_of_invoice}}</p>
                    <p>Sales Representatitve:</p>
                    <p>{{form.salesperson}}</p>
                    <p>Ship From:</p>
                    <p>{{form.ship_from}}</p>
</td>
                    <td>
                            <p>Date:</p>
                            <p>{{form.date_issued}}</p>
                            <p>Due Date:</p>
                            <p>{{form.due_date}}</p>
                            <p>Customer Purchase Order Number:</p>
                            <p>{{form.purchase_order_number}}</p>
                            <p>Tax:</p>
                            <p>{{form.tax}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="{{style}}-footer-cell">
                            <div class="{{style}}-footer-cell-heading">
                                Terms:
                            </div>
                            <div class="{{style}}-footer-cell-contents">
                                    {{form.terms}}
                            </div>
                        </div>
                        <div class="{{style}}-footer-cell">
                                <div class="{{style}}-footer-cell-heading">
                                    Comments:
                                </div>
                                <div class="{{style}}-footer-cell-contents">
                                        {{form.comments}}
                                </div>
                            </div>
                            <button class="btn btn-primary">Submit</button>
                    </td>
                </tr>
                </tbody>
            </form>
                <tfoot>
                        <tr>
                                <td colspan="2">
                                    <div id="item-table"></div>
                                </td>
                            </tr>
                </tfoot>
</table>



  
{% if modals %}
{% for modal in modals %}
<div class="modal fade" id="{{modal.link}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title" id="modelTitleId">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{modal.action}}" id="{{modal.link}}_form">
                    {% csrf_token %}
                    {{modal.form.as_p}}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
<script>
        $(document).ready(function(){
            {% for modal in modals %}
            $('#{{modal.link}}_form').ajaxForm(
                function(){
                    alert('created successfully!');
                    $("#{{modal.link}}").modal('hide');
                }
            );
        {% endfor %}
        });
    </script>
{% render_bundle 'invoicing' %} 
{% endblock %}