{% extends "common_data/list_template.html" %} {% block list_headings %}
<tr>
    <td class="info">Invoice #</td>
    <td class="info">Date</td>
    <td class="info">Total Amount</td>
    <td class="info">Payment Method</td>
    <td class="info">Actions</td>
</tr>
{% endblock %} {% block list_content %} {% for item in object_list %}
<tr>
    <td>{{item.invoice.pk}}</td>
    <td>{{item.date}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.method}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <!--
            <a href="{% url 'invoicing:update-payment' pk=item.pk %}" class="dropdown-item">
                <i class="fas fa-file"></i> Update
        </a>
        -->
                <a href="{% url 'invoicing:delete-payment' pk=item.pk %}" class="dropdown-item">
                    <i class="fas fa-trash"></i> Delete
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'invoicing:receipt-from-payment' pk=item.pk %}" class="dropdown-item">
                    <i class="fas fa-share-square"></i> Create Receipt From Payment
                </a>
            </div>
        </div>
    </td>
</tr>
{% endfor %} {% endblock %}