{% extends "common_data/list_template.html" %}

{% block list_headings %}
    <tr>
        <td class="info">Receipt #</td>
        <td class="info">Customer</td>
        <td class="info">Date</td>
        <td class="info">Payment Method</td>
        <td class="info">Total</td>
        <td class="info">Actions</td>
    </tr>
{% endblock %}

{% block list_content %}
    {% for receipt in object_list %}
    <tr>
        <td>{{receipt.pk}}</td>
        <td>{{receipt.payment.invoice.customer}}</td>
        <td>{{receipt.payment.date}}</td>
        <td>{{receipt.payment.method}}</td>
        <td>{{receipt.payment.amount}}</td>
        <td>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            
                                <a href="{% url 'invoicing:receipt-update' pk=receipt.pk %}" class="dropdown-item">
                                        <i class="fas fa-file"></i> Update
                                </a>
                                <a href="{% url 'invoicing:receipt-detail' pk=receipt.pk %}" class="dropdown-item">
                                        <i class="fas fa-eye"></i> Detail
                                    </a>
                                <a href="{% url 'invoicing:delete-receipt' pk=receipt.pk %}" class="dropdown-item">
                                        <i class="fas fa-trash"></i> Delete
                                </a>
                        </div>
                    </div>
        
        </td>
    </tr>
    {% endfor %}
{% endblock %}