{% extends "common_data/page/pdf_page.html" %}

{% block page_contents %}

<div style="width:100%">
    {% include "inventory/goods_received/header.html" %}
</div>
<div style="width:100%">
    <table class="{{style}}-content table table-sm"  style="height:500px;width:100%;">
        <thead  >
            <tr >
                <td style="width:70%">Description</td>
                <td>Ordered Qty</td>
                <td>Received Qty</td>
            </tr>
        </thead>
        <tbody class="item-table" style="border:1px solid black;">
            {% for item in object.order.orderitem_set.all %}
                <tr>
                    <td>{{item.item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.received}}</td>
                </tr>
            {% endfor %}
            <tr style="height:100%">
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div style=" border: 2px solid black; margin-top:0.5cm;">
    <div class="text-white"  style="padding:2.5mm;background-color:black;">Note</div>
    <div>
        <p style="padding:5mm">{{object.note}}</p>
    </div>
</div>

{% if pdf_link %}
<a href="{% url 'inventory:goods-received-pdf' pk=object.pk %}" class="btn btn-danger">Generate PDF</a>
{% endif %}
{% endblock %}