{% extends "common_data/page/pdf_page.html" %}

{% block page_contents %}

<div style="width:100%">
    {% include "inventory/goods_received/header.html" %}
</div>

{% for page in pages %}
<div style="width:100%">
    <table class="{{style}}-content table table-sm"  style="height:500px;width:100%;">
        <thead  >
            <tr >
                <td style="width:70%">Description</td>
                <td>Ordered Qty</td>
                <td>Received Qty</td>
            </tr>
        </thead>
        <tbody class="item-table" style="border:1px solid black;">
            {% for item in page %}
                <tr>
                    <td>{{item.line.item.name}}</td>
                    <td>{{item.line.quantity}}</td>
                    <td>{{item.quantity}}</td>
                </tr>
            {% endfor %}
            <tr style="height:100%">
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        </tbody>
    </table>
<p>{{page}}</p>
{% if not page.has_next %}

<div class="footer-cell">
    <div class="footer-cell-heading">
        <h5>Note</h5>    
    </div>
    <div class="footer-cell-contents">
        <p>{{object.note}}</p>
    </div>
</div>
{% else %}
    <p class="eop"></p>
{% endif %}

{% endfor %}
</div>


{% if pdf_link %}
<a href="{% url 'inventory:goods-received-pdf' pk=object.pk %}" class="btn btn-danger">Generate PDF</a>
{% endif %}
{% endblock %}