{% extends "invoicing/themable_common/root.html" %} {% block base_contents %}
<center>
    <h3>Goods Received Note</h3>
</center>
<div class="row">
    <div style="float:left;width:50%" >
        <img  src="/media/{{logo}}" alt="Logo" width="300" height="200">
    </div>
    <div style="float:left">
        <h4>{{business_name}}</h4>
        <p>{{business_address}}</p>
    </div>
</div>
<div class="row" style="width:100%;margin:1cm">
    <div style="float:left;width:50%">
        <h5>Supplier:</h5>
        <p>{{object.order.supplier}}</p>
    </div>
    <div style="float:left">
        <table>
            <tbody>
                <tr>
                    <th>Purchase Order #</th>
                    <td>{{object.order.pk}}</td>
                </tr>
                <tr>
                    <th>Goods Received Note #</th>
                    <td>{{object.pk}}</td>
                </tr>
                <tr>
                        <th>Date</th>
                        <td>{{object.receive_date}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="width:100%">
    <table class="{{style}}-content"  style="height:60%;width:100%;">
        <thead  >
            <tr >
                <td>Ordered Qty</td>
                <td>Received Qty</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody class="item-table">
            {% for item in object.order.orderitem_set.all %}
                <tr>
                    <td>{{item.quantity}}</td>
                    <td>{{item.received}}</td>
                    <td>{{item.product.name}}</td>
                </tr>
            {% endfor %}
            <tr style="height:100%">
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div style="border-radius:2mm; border: 1mm solid black; margin-top:0.5cm;">
    <div class="text-white"  style="padding:2.5mm;background-color:black;">Note</div>
    <div>
        <p style="padding:5mm">{{object.note}}</p>
    </div>
</div>
{% endblock %}