{% extends "window.html" %}
{% block content %}
{% load render_bundle from webpack_loader %}

<div class="jumbotron">
    <h1 class="display-3">Create New Debit Note</h1>
    <p class="lead">Debit Notes are documents sent to vendors to document returns of products to suppliers and to inform them of the debiting of their account with your business</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
                <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h4 class="card-title">Debit Note Form</h4>
                          <form action="" method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <button class="btn" type="submit">Submit</button>
                          </form>
                          
                        </div>
                      </div>
        </div>
        <div class="col-sm-8">
                <div id="debit-note-table"></div>
        </div>    
    </div>
</div>

{% render_bundle "inventory" %}
{% endblock content %}