{% extends "common_data/page.html" %}
{% load render_bundle from webpack_loader %}

{% block prepage %}
<div class="jumbotron">
    <h1 class="display-3">Service Invoice</h1>
    <p class="lead">Create Invoices for services rendered</p>
    <hr class="my-2">
</div>
{% endblock prepage %}

{% block page_contents %}
    {{form.errors}}
    <table class="table">
            <form action="" method="POST">
                {% csrf_token %}
            <input type="hidden" name="item_list" value="" id="id-item-list"/>
        <tbody>
            <tr>
                <td colspan="2"><center><h1>Service Invoice</h1></center></td>
            </tr>
            <tr>
                <td>
                    <img width="300" height="100" src="/media/{{logo}}" alt="Logo">
                </td>
                <td>
                    <h4><b>{{business_name}}</b></h4>
                    {% if include_business_address %}
                        {{business_address | linebreaks}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <p>Customer</p>
                    <p>{{form.customer}}</p>
                    <!--
                    <p>Discount</p>
                    <p>{{form.discount}}</p>
                    -->
                    <p>{{form.tax}}</p>
                    <p>Apply Payment?</p>
                    <p>{{form.apply_payment}}</p>
                    
                </td>
                <td>
                    <p>Date</p>
                    <p>{{form.date}}</p>
                    <p>Due</p>
                    <p>{{form.due}}</p>
                    <p>Sales Representative</p>
                    <p>{{form.salesperson}}</p>
                    <!-- Add customer reference -->
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="service-invoice-contents"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="{{style}}-footer-cell">
                        <div class="{{style}}-footer-cell-heading">
                                                    Terms:
                        </div>
                        <div class="{{style}}-footer-cell-contents">
                            {{form.terms}}
                        </div>
                    </div>
                    <div class="{{style}}-footer-cell">
                        <div class="{{style}}-footer-cell-heading">
                            Comments:
                        </div>
                        <div class="{{style}}-footer-cell-contents">
                            {{form.comments}}
                        </div>
                    </div>
                    <div class="dropdown open">
                        <button class="btn btn-info dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" >
                                    Submit as...
                                </button>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="draft">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="quotation">
                            <input class="dropdown-item" 
                                type="submit"
                                name="status"
                                value="invoice">
                            
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        </form>
    </table>

{% render_bundle 'invoicing' %}
{% endblock page_contents %}