{% extends "window.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'common_data/css/forms.css' %}"> {% endblock %} {% block content %}
{% load render_bundle from webpack_loader %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">{{description}}</p>
        {% if related_links %}
        <p>Actions</p>
            
            <script>
                function linkClickHandler(link){
                    /*
                    window.open(link ,'popup','width=900,height=480');
                    
                    return false;
                    */
                   $('#popup-frame').attr('src', link);
                   var modal = document.getElementById('id-my-modal');
                    modal.style.display = 'block';
                    $('#refresher-button').css('display', 'block');
                }   
            </script>
            <div class="btn btn-group">
                    {% for item in related_links %}
                        <a class="btn btn-primary text-white"  onclick="linkClickHandler('{{item.url}}')" target="popup">{{item.name}}</a>
                    {% endfor %}    
            </div>
            <button
                class="btn btn-success"
                id="refresher-button" 
                style="display:none;"
                onclick="window.location.replace(window.location.href);"
                >Refresh <i class="fas fa-sync"></i>
            </button>
        <p class="lead">
        
        {% endif %}
    </div>
</div>

<div class="container">    
    <div class="row">
        
        <div class="col-sm-12" id="schedule-table">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-body">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-sm">
                            {{form.as_p}}
                        </table>
                        <button class="btn btn-default pull-right" type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
{% render_bundle "manufacturing" %}

{% endblock %}