{% extends "common_data/list_template.html" %}
 {% block other %}
<style>
    .card th {
        color: white;
    }
</style>

<div class="card-deck">
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h4 class="card-title">Items</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:product-create' %}">Create New Item</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:warehouse-list' %}">WareHouse List</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:inventory-report' %}">Item Stock Level Report</a>
                </li>
                <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:inventory-check-list' %}">
                            Review and Create Inventory Checks
                        </a>
                    </li>
                    
                <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:transfer-order-list' %}">
                            Inventory Transfer History                        </a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h4 class="card-title">Orders</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:order-create' %}">Create New Purchase Order</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:order-list' %}">List Orders</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:stock-receipt-create' %}">Receive order</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:outstanding-orders-report' %}">Outstanding Orders Report</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card bg-primary text-white">
        <div class="card-header">
            <h4 class="card-title">Suppliers</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:organization-supplier-create' %}">Create New Supplier</a>
                </li>
                <li class="list-group-item hvr-grow">
                    <a href="{% url 'inventory:organization-supplier-list'%} ">List Organizational Suppliers</a>
                </li><!--
                <li class="list-group-item hvr-grow">
                    <a href="">Supplier Reports</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<hr class="my-4" />
<div class="card-deck">
    <div class="card bg-primary">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item hvr-grow">
                        <a href="{% url 'inventory:config' %}" >Configure</a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
<hr class="my-4" /> {% endblock %} {% block list_headings %}
<tr class="bg-primary text-white">
    <th>Item Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Measure</th>
    <th>Actions</th>
</tr>
{% endblock %} {% block list_content %} {% for item in filter.qs %}
<tr>
    <td>{{item.name}}</td>
    <td>{{item.description | truncatechars:30}}</td>
    <td>{{item.category}}</td>
    <td>{{item.unit_sales_price | floatformat:2 }}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.unit.name}}</td>
    <td>
        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'inventory:product-detail'  pk=item.pk  %}">
                    <i class="fas fa-eye"></i> Detail
                </a>
                <a class="dropdown-item" href="{% url 'inventory:product-update'  pk=item.pk  %}">
                    <i class="fas fa-file"></i> Update
                </a>
                <a class="dropdown-item" href="{% url 'inventory:product-delete' pk=item.pk %}">
                    <i class="fas fa-trash"></i> Delete
                </a>

            </div>
        </div>
    </td>
</tr>
{% endfor %} {% endblock %}