{% extends "window.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Update  Procedure</h1>
    <p class="lead">Review the standard operating activities outlined in the recorded procedure</p>
    <hr class="my-2">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Submit</button>
                <div id="inventory-widgets" style="display:block;clear:both"></div>
                
                
            </form>
        </div>
        <div class="col-sm-6">
            <div id="procedure-widgets" style="display:block;clear:both">

            </div>
        </div>
    </div>
</div>
{% render_bundle "services" %}
{% endblock %}