{% extends 'window.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Manufacturing Dashboard</h1>
    <p class="lead">Manufacturing Environment for managing shifts and processes</p>
    <hr class="my-2">
    
</div>
<div class="card-deck">
    
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h4 class="card-title">Orders</h4>
            <ul class="list-group">
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-production-order' %}">Create Production Order</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:list-production-order' %}">Manage Production Orders</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-production-order' %}">Production Calendar</a></li>
            </ul>

        </div>
    </div>
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h4 class="card-title">Shifts</h4>
            <ul class="list-group">
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-shift-schedule' %}">Create Shift Schedule</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-shift' %}">Create Shift</a></li>
                <li class="list-group-item hvr-grow"><a href="/manufacturing/shift/list">Manage Shifts</a></li>
                <li class="list-group-item hvr-grow"><a href="/manufacturing/shift-schedule/list">Manage Shift Schedules</a></li>

            </ul>
        </div>
    </div>
    <div class="card bg-primary text-white" >
        <div class="card-body">
            <h4 class="card-title">Machinery</h4>
            <ul class="list-group">
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-process-machine' %}">Add Process Machine</a></li>
                <li class="list-group-item hvr-grow"><a href="/manufacturing/process-machine/list">Manage Process Machines</a></li>
                <li class="list-group-item hvr-grow"><a href="/manufacturing/process-machine-group/list">Manage Machine Groups</a></li>

            </ul>
        </div>
    </div>
</div>
<hr />
<div class="card-deck">
    <div class="card  bg-primary text-white">
        <div class="card-body">
            <h4 class="card-title">Processes</h4>
            <ul class="list-group">
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-process' %}">Create Process</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:list-process' %}">Process List</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:list-process-product' %}">Manage Process Products</a></li>
                <li class="list-group-item hvr-grow"><a href="{% url 'manufacturing:create-bill-of-materials' %}">Manage Process Material Inputs</a></li>
            </ul>
        </div>
    </div>
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h4 class="card-title">Configuration</h4>
            <ul class="list-group">
                <li class="list-group-item hvr-grow"> <a href="">Settings</a> </li>
            </ul>
        </div>
    </div>
</div>
<hr />

{% endblock %}