{% extends 'window.html' %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">Consumable Detail</h1>
    <p class="lead">Information concerning consumable stock items. </p>
    <hr class="my-2">
    <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'inventory:consumable-create' %}">
                    <i class="fas fa-plus"></i> Add New Consumable
                </a>
                <a class="dropdown-item" href="{% url 'inventory:consumable-update'  pk=object.pk  %}">
                    <i class="fas fa-edit"></i> Update
                </a>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="nav nav-tabs nav-stacked">
                <a href="#basic" class="nav-link active" data-toggle='tab'>Basic</a>
                <a href="#locations" class="nav-link " data-toggle='tab'>Locations</a>
            </nav>

            <div class="tab-content panel-body">
                <div class="tab-pane active" id="basic">
                    <div class="row">
                        <div class="col-sm-4">
                            <div>
                                <h4 class="card-title">Item Image</h4>
                                {% if object.image %}
                                <img width="300" height="300" src="{{object.image.url}}" alt="Item Image" />
                                {% else %}
                                <i class="fas fa-image" style="font-size:256px;"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card shadow">
                                <div class="card-header">
                                    <h4 class="card-title">Basic Information</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Name: {{object.name}}</p>
                                    <p class="card-text">Code: {{object.id}}</p>
                                    <p class="card-text">Category: {{object.category}}</p>
                                    <p class="card-text">Description: {{object.description}}</p>

                                    <p class="card-text">Purchase Price: {{object.unit_purchase_price}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="locations">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card bg-primary text-white">
                                <div class="card-header">
                                    <h4 class="card-title">Supplier Information</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Name: {{object.supplier}}</p>
                                    <p class="card-text">Address: {{object.supplier.physical_address}}</p>
                                </div>
                            </div>
                            <hr class="my-2">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Stock Information</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Stock Quantity: {{object.quantity}}</p>
                                    <p class="card-text">Minimum Stock Level: {{object.minimum_order_level}}</p>
                                    <p class="card-text">Maximum Stock Level: {{object.maximum_stock_level}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="card col-sm-8">
                            <div class="card-header">
                                <h4 class="card-title">Product Locations</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-default">
                                    <thead>
                                        <th>Warehouse</th>
                                        <th>Location</th>
                                        <th>Quantity</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody style="max-height:200px; overflow-y:auto;">
                                        {% for l in object.locations %}
                                        <tr>
                                            <td>{{l.warehouse}}</td>
                                            <td>{{l.location}}</td>
                                            <td>{{l.quantity}}</td>
                                            <td>
                                                <a class="btn" style="color:white;"
                                                    href="{% url 'inventory:storage-media-detail' pk=l.location.pk %}">
                                                    Detail</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}