{% extends "window.html" %} {% block content %}

<div class="jumbotron">
    <h1 class="display-3">Services Dashboard</h1>
    <p class="lead">Control panel for listing services offered, assigning technicians work orders  and other service related functions</p>
    <hr class="my-2">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Listed Services</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item ">
                                <a href="{% url 'services:create-service' %}">Create Service</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'services:list-services' %}">Manage Services</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">WorkOrders</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'services:work-order-create' %}">
                                    Add Work Order
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'services:work-order-list' %}">
                                    List and Manage Work Orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Requisitions</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'services:equipment-requisition-create' %}">Create Equipment Requistion</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'services:consumable-requisition-create' %}">Create Consumable Requistion</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <hr class="my-2">
            <div class="card-deck">
                    <div class="card bg-primary text-white">
                        <div class="card-header">
                            <h4 class="card-title">Service Procedures</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item ">
                                    <a href="{% url 'services:create-procedure' %}">Create New Service Procedure</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'services:list-procedures' %}">Manage Service Procedures</a>
                                </li>
                            </ul>
    
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header">
                            <h4 class="card-title">Groupings</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'services:team-list' %}">
                                        List and Manage Service Categories
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'services:team-list' %}">
                                            List and Manage Service Teams
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card bg-primary text-white">
                        <div class="card-header">
                            <h4 class="card-title">Reports</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="">Services History</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="">Service People utilization report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}