{% extends "window.html" %} 
{% load accounting %}

{% block content %}

<style>
    .bg-primary th, .bg-primary td {
        color:white;
    }
</style>
<div class="jumbotron">
    <h1 class="display-3">{{object.name}} Details</h1>
    <p class="lead">Record of Entries and other features</p>
    <hr class="my-2">
    <p>Actions:</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{% url 'accounting:account-update' pk=object.pk %}" role="button">Edit Details</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-primary text-white">
                <div class="card-header">
                    <h4 class="card-title">Details</h4>
                </div>
                <div class="card-body">

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Balance:</th>
                                <td>{{object.balance | accounting}}</td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{object.type}}</td>
                            </tr>
                            <tr>
                                <th>Bank Account?</th>
                                <td>{{object.bank_account}}</td>
                            </tr>
                            <tr>
                                <th>Control Account?</th>
                                <td>{{object.control_account}}</td>
                            </tr>
                            <tr>
                                <th>Parent:</th>
                                <td>{{object.parent_account}}</td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td>{{object.description}}</td>
                            </tr>
                            <tr>
                                <th>Children:</th>
                                <td>
                                    <ul>
                                    {% for c in object.children %}
                                        <li>{{c}}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-8">
                <h3 id="credits_list">Credits</h3>
                <p>(Scroll down for <a href="#debits_list">debits</a>)</p>
                <hr />
                <iframe width="700" height="500" frameborder="0" id="journal-frame" src="/accounting/account/{{object.pk}}/entry-list/credit">

                </iframe>
                <h3 id="debits_list">Debits</h3>
                <p>(Scroll up for <a href="#credits_list">credits</a>)</p>

                <hr />
                <iframe width="700" height="500" frameborder="0"  id="journal-frame" src="/accounting/account/{{object.pk}}/entry-list/debit">

                </iframe>
            
        </div>
    </div>
</div>
{% endblock content %}
