{% extends "window.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-3">Individual Details</h1>
    <p class="lead">View Recorded Data on a person associated with the business as well as their organization and recent activities</p>
    <hr class="my-2">
    <p>Actions</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'base:individual-update' pk=object.pk %}" role="button">Edit</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Details</h4>
                        <table class="table table-sm">
                                <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <h5>Photo:</h5>
                                                    {% if object.photo %}
                                                    <img src="{{object.photo.url}}" class="img-thumbnail" width="320" height="240" alt="Photo thumbnail">
                                                    {% else %}
                                                    <i class="fas fa-user" style="font-size:72;"></i>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Full Name</th>
                                                <td>{{object}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td><a href="{% url 'messaging:create-message' %}">{{object.email}}</a></td>
                                            </tr>
                                            <tr>
                                                <th>Phone</th>
                                                <td>
                                                    <a>{{object.phone}}</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Organization {% if object.organization %}<a href="{% url 'base:organization-detail' pk=object.organization.pk %}" class="btn btn-success">View</a>{% endif %}</h4>
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th>Legal Name</th>
                                    <td>{{object.organization.legal_name}}</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{object.organization.business_address}}</td>
                                </tr>
                                <tr>
                                    <th>Website</th>
                                    <td>
                                        <a>{{object.organization.website}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Activities</h4>
                        <table class="table table-sm">
                            <thead>
                                <tr class="bg-primary">
                                    <td>Date</td>
                                    <td>Activity</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">No Recent Activities yet</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}