{% extends "common_data/list_template.html" %}
{% block list_headings %}
<tr>
    <td></td>
    <td>Full Name</td>
    <td>Organization</td>
    <td>Phone</td>
    <td>Actions</td>
</tr>
{% endblock list_headings %}

{% block list_content %}
{% for o in object_list %}
    <tr>
        <td>
            {% if o.photo %}
                <img src="{{o.photo.url}}" class="img-thumbnail" width="128" height="128" alt="Photo thumbnail">
            {% else %}
                
                <div style="margin-left: 28px;"><i class="fas fa-user" style="font-size:72;"></i></div>
            {% endif %}
        <td>{{o}}</td>
        <td>{{o.organization}}</td>
        <td>{{o.phone}}</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                            Actions
                        </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="{% url 'base:individual-update' pk=o.pk %}"> <i class="fas fa-edit"></i> Update</a>
                    <a class="dropdown-item" href="{% url 'base:individual-detail' pk=o.pk %}"> <i class="fas fa-eye"></i> Detail</a>
                    </div>
            </div>
        </td>
    </tr>
{% endfor %}
{% endblock list_content %}